*.la
*.lo
*.o
/.deps/
/.libs
/aclocal.m4
/autom4te.cache/
/bufr2mqtt
/bufr2mqtt.1
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/mqtt2bufr
/mqtt2bufr.1
/stamp-h1
/storedjson2bufr
/storedjson2bufr.1
Makefile
Makefile.in
