/.deps/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/bufr2mqtt
/bufr2mqtt.1
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/mqtt2bufr
/mqtt2bufr.1
/stamp-h1
