{% load staticfiles %}
<!-- JQuery-ui Core CSS 
<link href="{% static 'rainbo/css/jquery-ui.min.css' %}" rel="stylesheet">-->
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="{% static 'rainbo/css/bootstrap_mod.min.css' %}" rel="stylesheet">

<!-- Custom CSS -->
<link href="{% static 'rainbo/css/landing_page.css' %}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="{% static 'rainbo/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
