{% load staticfiles %}
<!-- Load external library and framework -->
<!-- jQuery an JQuery-UI-->
<script src="{% static 'rainbo/js/lib/jquery.js' %}"></script>
<script src="{% static 'rainbo/js/lib/jquery-ui.min.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'rainbo/js/lib/bootstrap.min.js' %}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'rainbo/js/lib/jqBootstrapValidation.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'rainbo/js/rainbo/landing_page.js' %}"></script>
<script src="{% static 'rainbo/js/rainbo/rainbo_utils.js' %}"></script>


