<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% include 'rainbo/home_title.html' %}

    {% include 'rainbo/home_css.html' %}
    
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" >
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" style="display: block; float:left" href="http://www.rainbolife.eu/">
            <img class="img-responsive center-block" alt="" src="{% static "rainbo/img/partners/rainbo.png" %}">
            </a>
            <a class="navbar-brand" href="#page-top">RainBo</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#dati">Dati</a>
                </li>
                <li class="page-scroll">
                    <a href="#partecipa">Partecipa</a>
                </li>
                <li class="page-scroll">
                    <a href="#partners">Partners</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contacts</a>
                </li>
                {% include 'rainbo/base_service/section_service_nav_users.html' %}
            </ul>
            <!-- /.navbar-collapse -->
            <!-- Navigation -->
                
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    {% include 'rainbo/section_header.html' %}

    <!-- Query data Section -->
    {% include 'rainbo/section_dati.html' %}
    
    <!-- Services Grid Section -->
    {% include 'rainbo/section_partecipa.html' %}

    <!-- Partners Section -->
    {% include 'rainbo/section_partners.html' %}

    <!-- Contact Section -->
    {% include 'rainbo/section_contacts.html' %}

    <!-- Footer -->
    {% include 'rainbo/section_footer.html' %}
    
    

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- services Modals -->
    {% include 'rainbo/service_detail_1.html' %}
    {% include 'rainbo/service_detail_2.html' %}
    {% include 'rainbo/service_detail_3.html' %}
    {% include 'rainbo/service_detail_4.html' %}
    {% include 'rainbo/service_detail_5.html' %}

    {% include 'rainbo/service_push_data.html' %}
    
    {% include 'rainbo/home_js.html' %}
    

</body>

</html>
