{% load static %}
{% load i18n %}

<section id="dati">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{% trans "Show observed weather" %}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12">
                <!-- col-xs-offset-X to center divs  -->
                <div class="col-md-2 col-md-offset-1 col-xs-6 services-item">
                    <a href="#servicesModal1" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/view_visibility.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>{% trans "Visibility" %}</p>
                            </div>
                        </div>
                    </a>
		    {% include 'rainbo/button_get_visibility.html' %}
		    <br><br> 
                </div>            
                <div class="col-md-2 col-xs-6 services-item">    
                    <a href="#servicesModal2" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/view_rain.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>{% trans "Rain" %}</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_rain.html' %}
		    <br><br> 
                </div>
                
                <div class="col-md-2 col-xs-6 services-item">
                    <a href="#servicesModal3" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/view_snow.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>{% trans "Snow" %}</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_snow.html' %}
		    <br><br> 
                </div>

                <div class="col-md-2 col-xs-6 services-item">
                    <a href="#servicesModal4" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/view_thunderstorm.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>{% trans "Thunderstorm" %}</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_thunderstorm.html' %}
		    <br><br>
                </div>
                
                <div class="col-md-2 col-md-offset-0 col-xs-offset-3 col-xs-6 services-item">
                    <a href="#servicesModal5" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/view_tornado.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>{% trans "Tornado" %}</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_tornado.html' %}
		    <br><br> 
                </div>

           </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{% trans "Show Impact" %}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12">
                <!-- col-xs-offset-X to center divs  -->
               <div class="col-md-2 col-md-offset-5 col-xs-offset-3 col-xs-6 services-item">
                    <a href="#servicesModal6" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/partecipa_impact.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>{% trans "Impact" %}</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_damage.html' %}
                </div>

            </div>
        </div>
    </div>
</section>
