{% load static %}
<section id="benvenuto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Benvenuto</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="container">
<br>Benvenuto nell'applicazione di crowdsourcing Rmap4RainBO sviluppata nell'ambito del progetto LIFE RainBO.

<br><br>Lo scopo è quello di coinvolgere i cittadini nella segnalazione del fenomeno meteorologico osservato (sezione "PARTECIPA/Aggiungi tempo presente"), dando priorità agli eventi più significativi (Tromba d'aria, temporale, pioggia intensa etc), in modo da condividere (sezione VISUALIZZA) informazioni aggiornate in tempo reale e distribuite sul territorio, come se il territorio fosse ricoperto da una fitta rete di sensori sul tempo presente.

<br><br>L'applicazione rappresenta anche una piattaforma sperimentale rivolta a cittadini e istituzioni, per raccogliere riscontri sul territorio rispetto agli impatti osservati  (sezione "IMPATTO/aggiungi Impatto") in termini di danni dovuti ad eventi meteo idrogeologici idraulici (ad esempio allagamenti, alberi caduti o strada ghiacciata). La codifica degli impatti qui considerati è stata, per ora, definita nell'ambito del progetto, dal momento che non ne è stata riscontrata una a livello regionale o nazionale, ma potrà ovviamente essere rivista e aggiornata a seguito di ulteriori confronti con le istituzioni competenti. L'obiettivo è quello di iniziare a costruire un database di dati storici sugli impatti registrati per correlarli alle allerte regionali 

<br><br>La geolocalizzazione delle informazioni è utile per capire dove si stanno verificando fenomeni significativi e quali danni sono stati riportati.

<br><br>Per accedere alla sezione PARTECIPA è necessario effettuare la registrazione nella sezione LOGIN/Register fornendo username, password e indirizzo email.

<br><br><br>Grazie per il vostro contributo!

<br><br>Lo staff di progetto RainBO 
        </div>
   </div>
</section>
