{% load static %}
<section class="" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Partners</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="service-item img-centered">
                    <h5>
                        <a target="_blank" href="http://www.lepida.it/">
                            <img class="img-responsive center-block" alt="" src="{% static "rainbo/img/partners/partners_lepida.jpg" %}">Lepida
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="service-item img-centered">
                    <h5>
                        <a target="_blank" href="http://www.meeo.it/wp/company/">
                            <img class="img-responsive center-block" alt="" src="{% static "rainbo/img/partners/meeo.png" %}">MEEO
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="service-item img-centered">
                    <h5>
                        <a target="_blank" href="https://www.arpae.it/">
                            <img class="img-responsive center-block" alt="" src="{% static "rainbo/img/partners/partners_arpa.jpg" %}">Arpa Emilia Romagna
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="service-item img-centered">
                    <h5>
                        <a target="_blank" href="http://www.comune.bologna.it/">
                            <img class="img-responsive center-block" alt="" src="{% static "rainbo/img/partners/partners_comune.jpg" %}">Comune di Bologna
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="service-item img-centered">
                    <h5>
                        <a target="_blank" href="https://www.niering.it/">
                            <img class="img-responsive center-block" alt="" src="{% static "rainbo/img/partners/partners_nier.jpg" %}">NIER
                        </a>
                    </h5>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
   </div>
</section>
