{% load static %}
<section id="dati">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Visualizza Dati</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12">
                <!-- col-xs-offset-X to center divs  -->
                <div class="col-lg-2 services-item">
                    <a href="#servicesModal1" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                       <img src="{% static 'rainbo/img/landing_page/view_rain.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Pioggia</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_rain.html' %}
                </div>
                
                <div class="col-lg-2 services-item">
                    <a href="#servicesModal2" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/view_thunderstorm.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Temporale</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_thunderstorm.html' %}
                </div>
                
                <div class="col-lg-2 services-item">
                    <a href="#servicesModal3" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/view_snow.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Neve</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_snow.html' %}
                </div>

                <div class="col-lg-2 services-item">
                    <a href="#servicesModal4" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/view_visibility.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Visibilt&agrave</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_visibility.html' %}
                </div>

                <div class="col-lg-2 services-item">
                    <a href="#servicesModal5" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/view_tornado.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Tromba d'aria</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_tornado.html' %}
                </div>

               <div class="col-lg-2 services-item">
                    <a href="#servicesModal6" class="services-link" data-toggle="modal">
                        {% include 'rainbo/service_info.html' %}
                        <img src="{% static 'rainbo/img/landing_page/partecipa_impact.png' %}" class="img-responsive center-block landing-img" alt="">
                        <div class="caption">
                            <div class="caption-content">
                                <p>Danni</p>
                            </div>
                        </div>
                    </a>
                    {% include 'rainbo/button_get_damage.html' %}
                </div>

            </div>
        </div>
    </div>
</section>
