<!-- /.dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        {% if user.is_authenticated %}
         <li><a><i class="fa fa-user fa-fw"></i> {{user.username}}</a>
        </li>
        <!--li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li-->
        <li class="divider"></li>
        <li>
            <a href="/registrazione/logout/"><i class="fa fa-sign-out"></i> Logout</a>
        </li>
        {% else %}
        <li>
            <a href="/registrazione/login/"><i class="fa fa-sign-in"></i> Login</a>
        </li>
        {% endif %}
        
    </ul>
    <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
