{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">Pioggia</h2>
                        <hr class="star-primary">
                        L’intensità di una precipitazione liquida si misura in mm all'ora e corrisponde alla quantità di gocce che giungono a terra: più sono fitte, più è intensa.
                        <br><br>
                        Rifacendosi alla classificazione ufficiale in meteorologia:
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/150.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> per precipitazioni fino a 1 mm all'ora, si parla di <b>pioviggine</b></div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/160.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> da 1 a 10 mm all'ora  si tratta di <b>pioggia, da debole a forte</b></div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/165.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> quando le temperature arrivano allo zero, le precipitazioni assumono carattere di neve e in tal caso si parla di <b>pioggia congelantesi al suolo</b></div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/184.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> oltre i 31 mm all'ora, si parla di <b>pioggia violenta o nubifragio</b></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
