{% load staticfiles %}
{% load i18n %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">{% trans "Impacts" %}</h2>
                        <hr class="star-primary">
                        <br><br>
                       <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_tree.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
			    <div class="col-lg-9 col-xs-8"> {% trans "Report this impact if you look at <b>fallen trees </b> on the road or in adjacent areas, both if they are uprooted and if they are broken (even just one of its group branches)"  %}  
			    </div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_ice_on_road.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8">  {% trans "When you observe a smooth and compact slab, although very thin, of <b>ice, generally transparent (glassy ice or glass), on the road, </b> formed by the freezing of drops of drizzle or rain drops overwhelmed on objects. whose surface temperature is under or slightly above 0 &deg;C" %}
                            </div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_floading.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
			    <div class="col-lg-9 col-xs-8"> {% trans "Flooding is the temporary <b> flooding </b> of areas that are usually not covered with water. It occurs when, due to intense and prolonged rains, the waters of a river or a creek are not contained by banks and barriers and are poured into the surrounding territory. Or when the sea level rises, due to the strong wind and low atmospheric pressure, thus reaching bathing establishments and inhabited centers. In urban centers it is frequent that, due to the bad weather, the sewage networks can not contain excess rainwater, causing widespread flooding and road traffic problems" %} <br><br>
                            </div>
                        </div>
                         <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_road.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
			    <div class="col-lg-9 col-xs-8"> {% trans "A <b>Pothole</b> is a structural failure in a <b> road </b> surface, caused by failure primarily in asphalt <b>pavement</b> due to the presence of water in the underlying soil structure and the presence of traffic passing over the affected area. Long-lasting or heavy rainfall events can cause potholes in the road." %} <br><br>
                            </div>
                        </div>
 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
