{% load staticfiles %}
{% load i18n %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModalWeather" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">{% trans "Present Weather" %} </h2>
                        <hr class="star-primary">
			{% trans "In this section you can load the present weather you are observing in terms of" %}
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_visibility.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-7 col-xs-8"> {% trans "Visibility" %}  </div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_rain.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> {% trans "Rain" %}</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_snow.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> {% trans "Snow" %}</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_thunderstorm.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> {% trans "Thunderstorm" %}</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_tornado.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> {% trans "Tornado" %}</div>
                        </div>
<br><br><b>{% trans "Warning" %}:</b>  
{% trans "the observation of the phenomenon must be relative to the time of sending, that is the phenomenon must be in place within 10 minutes prior to the submission of the observation. If you are observing more phenomena, assign priorities to the most important one significant that is the one below or right on the list)." %}
<br><br>
{% trans "If <b>no meteorological phenomena are in progress </b> among the above mentioned ones (for example clear  or cloudy sky but with excellent visibility), you can still choose the icon 'No phenomenon in progress'. In this way you can familiarize yourself with the platform by sending reliable data at any time and it will be useful to have feedback to know the presence or not of significant phenomena." %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
