{% load staticfiles %}
{% load i18n %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModalImpact" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">{% trans "Impact" %}</h2>
                        <hr class="star-primary">
			{% trans "In this section you can upload information on observed impacts that can be traced to meteorological phenomena, in particular, we consider particularly relevant the following types:" %}
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_floading.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-7 col-xs-8"> {% trans "flooding"%}</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_tree.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> {% trans "fallen tree"%}</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_ice_on_road.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> {% trans "icy road"%}</div>
                        </div>
                         <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_road.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> {% trans "pothole"%}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
