{% load staticfiles %}
{% load i18n %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">{% trans "Visibility" %}</h2>
                        <hr class="star-primary">
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/110.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> <b class="text-center">{% trans "Haze" %}</b> 
                                <br><br><b>{% trans "Definition" %}:</b> {% trans "suspension in the atmosphere of small droplets of water, usually microscopic, or of hygroscopic particles, which reduce the visibility to the earth's surface." %} 
                                <br><br><b>{% trans "Comment" %}:</b>{% trans "the term 'haze' or light fog is used when the horizontal visibility is between 10 km and 1 km. The droplets are smaller and more dispersed than in the case of fog which, for the rest, has the same constitution. The haze forms a fairly thin veil of greyish appearance that covers the landscape." %}
                           </div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/130.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div> <br><br> 
                            <div class="col-lg-9 col-xs-8"> <b class="text-center">{% trans "Fog" %}</b> 
                                <br><br><b>{% trans "Definition" %}:</b> {% trans "suspension in the atmosphere of small droplets of water, usually microscopic, or of hygroscopic particles, which reduce the visibility to the earth's surface." %}  
                                <br><br><b>{% trans "Comment" %}:</b> {% trans "the reduction of visibility depends on the structure of the fog; especially from the number of droplets per unit volume and from the size distribution of these. The term fog is used when the horizontal visibility to the earth's surface is less than 1 km. When illuminated, individual droplets of mist are visible to the naked eye; they are often in turbulent movement. The fog forms a whitish veil covering the landscape; however, it can take a faint color when mixed with powder or smoke." %}
                                <br><br><b> {% trans "Note" %}: </b> {% trans "on the earth's surface, at temperatures below -10 ° C, the fog can be composed, usually by freezing of the droplets, from ice crystals which, like the diamond dust, give rise to optical phenomena." %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
