{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">Impatti</h2>
                        <hr class="star-primary">
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_floading.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> L'alluvione è l'<b>allagamento</b> temporaneo di aree che di solito non sono ricoperte d'acqua. Si verifica quando, a causa di piogge intense e prolungate, le acque di un fiume o di un torrente non vengono contenute da argini e barriere e si riversano nel territorio circostante. Oppure quando il livello del mare si innalza, per effetto del forte vento e della bassa pressione atmosferica, raggiungendo così stabilimenti balneari e centri abitati.
Nei centri urbani è frequente che, per il forte maltempo, le reti fognarie non riescano a contenere l'acqua piovana in eccesso, causando allagamenti diffusi e problemi alla circolazione stradale</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_tree.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> Segnala questo impatto se osservi <b>alberi caduti</b> in strada o nelle zone adiacenti, sia nel caso in cui si siano sradicati sia nel caso in cui si siano spezzati  (anche solo un suo ramo gruppo)</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/impact_ice_on_road.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> Quando osservi una lastra, seppure molto sottile, di <b>ghiaccio sulla strada</b>, che in genere si verifica in pieno inverno, alla mattina presto o alla sera, segnalalo perché può essere molto pericoloso e potrebbe essere stato causato da una precipitazione piovosa o nevosa</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
