{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModalWeather" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">Tempo Presente</h2>
                        <hr class="star-primary">
                        In questa sezione puoi caricare il tempo presente che stai osservando in termini di
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_visibility.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-7 col-xs-8"> visibilit&agrave;</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_rain.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> pioggia</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_snow.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> neve</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_thunderstorm.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> temporale</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-3 col-xs-4">
                                    <img src="{% static 'rainbo/img/landing_page/view_tornado.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-7 col-xs-8"> tromba d'aria</div>
                        </div>
<br><br><b>Attenzione:</b>  l'osservazione del fenomeno deve essere relativa al momento dell'invio, ossia il fenomeno deve essere in atto nei 10 minuti precedenti l'invio dell'osservazione. Se stai osservando più fenomeni, dai priorit&agrave; a quello pi&ugrave; significativo (ovvero quello più in basso o a destra nella lista).
<br><br>Se <b>non &egrave; in corso nessun fenomeno meteorologico</b> tra quelli sopra  indicati (as esempio cielo sereno o nuvoloso ma con ottima visibilit&agrave;), puoi comunque scegliere l'icona "Nessun altro fenomeno in atto". In questo modo potrai familiarizzare con la piattaforma inviando dati attendibili in qualsiasi momento e sarà utile averne riscontro per conoscere la presenza o meno di fenomeni significativi. 

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
