<!--Details for service 1-->
<div class="services-modal modal fade" id="pushDataModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Inserisci dati rilevati manualmente</h2>

                        {% include 'rainbo/button_close.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
