{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal0" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">Nessun fenomeno in atto</h2>
                        <hr class="star-primary">
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/100.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> 
				Se non &egrave; in corso nessun fenomeno meteorologico tra quelli sopra  indicati (as esempio cielo sereno o nuvoloso ma con ottima visibilit &agrave;), puoi comunque scegliere l'icona "Nessun altro fenomeno in atto". In questo modo potrai familiarizzare con la piattaforma inviando dati attendibili in qualsiasi momento e sarà utile averne riscontro per conoscere la presenza o meno di fenomeni significativi.    
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
