{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">Neve</h2>
                        <hr class="star-primary">
                        La neve può essere:
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/185.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> <b>debole</b>,se cade qualche fiocco di neve ovvero 2 o 3 fiocchi su un palmo di mano, se la esponi all'aperto per un minuto</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/186.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>moderata</b> se aumentano il numeo di fiocchi e/o la dimensione e/o la velocità con cui cade (sulla mano raccogli più di 3 fiocchi)</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/187.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>forte</b> se la precipitazione è intensa, ovvero la mano esposta si ricopre di fiocchi di neve</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
