{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">Tromba d'aria</h2>
                        <hr class="star-primary">
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/199.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> <b class="text-center">Tromba d'aria</b>
                                <br><br><b>Definizione:</b> fenomeno costituito da un turbine di vento spesso violento, rive lato dalla presenza di una specie di tubo o di cono rovesciato (nube ad imbuto) pendente dalla base di un Cumulonembo (particolarit&agrave; supplementare tuba) e da un "cespo" costituito da goccioline diacqua sollevate dalla superficie del mare o di polvere, sabbia o detriti sollevati dalla superficie del suolo.
<br><br><b>Commento:</b> l'asse della nube ad imbuto &egrave; verticale, inclinato o talvolta sinuoso. Non straordinariamente, l'imbuto si fonde col cespo. L'aria nel turbine ruota rapidamente, assai spesso in senso ciclonico; un rapido movimento rotatorio pu&ograve; anche essere osservato al di fuori dell'imbuto e del "cespo". Pi&ugrave; lontano, l'aria &egrave; spesso assai calma.
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
