{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">Visibilità</h2>
                        <hr class="star-primary">
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/110.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> si parla di <b>foschia</b> se vedi l'aria offuscata, probabilmente a causa di alti valori di umidità (minutissime goccioline d'acqua) o a fumo o pulviscolo.</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/130.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> si tratta di invece <b>nebbia</b>, ovvero un ammasso di microscopiche gocce d'acqua per condensazione del vapore acqueo in prossimità del suolo, quando la visibilità è ridotta a meno di 1 Km.</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
