{% load staticfiles %}
{% load i18n %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal0" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">{% trans "No phenomenon in progress" %}</h2>
                        <hr class="star-primary">
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/100.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> {% trans "If no meteorological phenomenon is in progress among the above mentioned ones (for example a clear or cloudy sky but with excellent visibility), you can still choose the icon 'No other phenomenon in progress'. In this way you can familiarize yourself with the platform by sending reliable data at any time and it will be useful to have feedback to know the presence or not of significant phenomena." %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
