{% load i18n %}
{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">{% trans "Snow" %}</h2>
                        <hr class="star-primary">
                        <br><br><b>{% trans "Definition" %}:</b>{% trans "precipitation of ice crystals, single or agglomerated in flakes, which falls from a cloud." %} 
                        <br><br>
			{% trans "The snowy precipitation could be" %}
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/185.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> <b>{% trans "weak" %}</b>, {% trans "Intensity < 1 mm/h, if you fall a few flakes of snow or 2 or 3 snowflakes on a palm of your hand, if you expose it outdoors for a minute" %}
                           </div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/186.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>{% trans "moderate" %}</b>, 
                           {% trans "Intensity between 1 and 5 mm/h, If the number and/or size and/or speed increase (on the hand collect more than 3 snowflakes)" %} 
                           </div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/187.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>{% trans "heavy" %}</b>, 
                            {% trans "Intensity greater than 5 mm/h, if precipitation is intense (the exposed hand is covered with snowflakes)" %}
                            </div>
                        </div>
                        <br><br><b>{% trans "Comment" %}:</b>
                        {% trans "the shape, the size and the concentration of the snow crystals differ greatly with the variation of the temperature at which they are formed and the conditions in which they develop. A snowfall usually includes several types of snow crystals, which can be observed in almost all their forms during the course of the phenomenon. At temperatures higher than -5 &deg;C, ice crystals are generally combined into snowflakes." %}	
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
