{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">Pioggia</h2>
                        <hr class="star-primary">
                        <br><br><b>Definizione:</b> L'intensit&agrave; di una precipitazione liquida si misura in mm all'ora e corrisponde alla quantit&agrave; di gocce che giungono a terra: pi&ugrave; sono fitte, pi&ugrave; &egrave; intensa.
                        <br><br>
                        Rifacendosi alla classificazione ufficiale in meteorologia:
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/150.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8">  <b>pioviggine</b> per precipitazioni fino a 1 mm all'ora</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/160.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>pioggia, da debole a forte</b> se l'intensit&agrave; &egrave; compresa tra 1 e 10 mm/h</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/165.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>pioggia congelantesi al suolo</b>i quando le temperature arrivano allo zero e le precipitazioni assumono carattere di neve</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/184.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>pioggia violenta o nubifragio</b> se oltre i 50 mm all'ora</div>
                        </div>
                        <br><br><b>Commento:</b> L'intensit&agrave; di una precipitazione liquida si misura in mm all'ora (mm/h) e corrisponde alla quantit&agrave; di gocce che giungono a terra: pi&ugrave; sono fitte, pi&ugrave; è&ograve; intensa.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
