{% load staticfiles %}
<!--Details for service 2-->
<div class="services-modal modal fade" id="servicesModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Esondazioni</h2>
                        <hr class="star-primary">
                        <img src=" {% static "rainbo/img/landing_page/floading_service.png" %}" class="img-responsive img-centered" alt="">
                        <ul class="list-inline item-details">
			    <li>
				    Fusce dapibus eget nibh sit amet sagittis. Vestibulum faucibus nunc non iaculis convallis. Etiam porttitor dui a cursus aliquam. Fusce aliquet quam nulla. Sed imperdiet in arcu ut dictum. Phasellus semper, purus et laoreet ultricies, orci diam placerat nisi, at dignissim diam libero egestas libero. Nulla consequat elementum ipsum et auctor. Nullam elementum volutpat mauris quis volutpat. Vestibulum id lacus eget lacus mollis tincidunt.
			    </li>
                        </ul>                        
                        {% include 'rainbo/button_template_enable.html' %}
                        {% include 'rainbo/button_close.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
