{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

{% block extra_assets %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block content %}
{% if invalid  %}
<h2>{% trans 'Invalid data; retry' %}</h2>
{% endif %}

{% if error  %}
<h2>{% trans 'Error on publish data; retry' %}</h2>
{% endif %}

<h3>{% trans 'Select coordinate from you stations' %}</h3>
    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
      <table style="width:100%">

        {{ stationform.as_table }}

      </table>
      <input type="submit" value={%trans "Select station" %}>
    </form>

<h3>{% trans 'Select coordinate from map and upload your image' %}</h3>

    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
      <table style="width:100%">

        {{ form.as_table }}

      </table>
      <input type="submit" value={%trans "Submit" %}>
    </form>

{% endblock %}
