{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if invalid  %}
<div class="alert alert-warning" role="alert">{% trans 'Invalid data; retry' %}</div>
  <h3 id="striped-rows"><a href={% url 'stationmetadata-list' %}>{% trans 'Return to station list' %}</a> </h3>
{% endif %}

{% if notauthorized  %}
<div class="alert alert-warning" role="alert">{% trans 'The station is not your own; cannot remove!' %}</div>
{% endif %}

{% if error  %}
<div class="alert alert-danger" role="alert">{% trans 'Error deleting station; retry' %}</div>
{% endif %}


{% if deleted  %}

  <h3 id="striped-rows">{% trans 'Station removed' %}</h3>
  <h3 id="striped-rows"><a href={% url 'stationmetadata-list' %}>{% trans 'Return to station list' %}</a> </h3>

{% else  %}

<h3 id="striped-rows">{% trans 'Are you sure to delete station ?' %}</h3>
<div class="table-responsive">

<h3 id="striped-rows"><a href={% url 'stationmetadata-list' %}>{% trans 'Cancel' %}</a> </h3>
    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
        {{ delstationform.as_p }}
     <input type="submit" value={%trans "Remove" %} class="btn">
    </form>
</div>
{% endif %}

{% endblock %}
