{% extends "rainbo/base_service/base_service_content.html" %}

{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}
{% load staticfiles %}

{% block extra_assets %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block container %}

{% if invalid  %}
<div class="alert alert-warning" role="alert">{% trans 'Invalid data; retry' %}</div>
{% endif %}

{% if error  %}
<div class="alert alert-danger" role="alert">{% trans 'Error on publish data; retry' %}</div>
{% endif %}

{% if success  %}
<div class="alert alert-success" role="alert">{% trans 'Data succesfully added' %}</div>
{% endif %}



<div class="container-fluid">
    <div class="row"> 
        <h3 class="text-center"  id="striped-rows"> {% trans "Select coordinate from map and insert your actual data" %}</h3>
    </div>
    <div class="row">

       <form enctype="multipart/form-data" method="POST" id="MyForm">{% csrf_token %}
            <div class="col-md-8">

                <style type="text/css">    
                    #id_geom { display: none; }
                </style>                  

                <textarea id="id_geom" class="required form-control" cols="150" rows="10" name="geom"></textarea>
                {% leaflet_map "map_coordinate" callback="main_map_init" %}    
                <script type="text/javascript">

                    var geodjango_id_geom = {};
                        geodjango_id_geom.fieldid = 'id_geom';
                        geodjango_id_geom.modifiable = true;
                        geodjango_id_geom.geom_type = 'Point';
                        geodjango_id_geom.srid = 4326;
                        geodjango_id_geom.is_generic = false;
                 
                    function main_map_init (map, options) {
                        geodjango_id_geom.store_class = L.FieldStore;
                        positionField = (new L.GeometryField(geodjango_id_geom)).addTo(map);

                        var marker;
                        var mark_active = false;

                        map.setView([44.5, 11,1], 10);

                        // Added Geolocation function
                        function showPosition(position) {
                            marker = new L.marker([position.coords.latitude, position.coords.longitude]);
                            positionField.onCreated({layer:marker});
                            map.setView([position.coords.latitude, position.coords.longitude], 10);  
                        }

                        function onLocationFound(e) {
                                var radius = e.accuracy / 2;
                                marker = new L.marker(e.latlng).addTo(map)
                                        .bindPopup("Ti trovi in un raggio di " + radius + " metri da questo punto.").openPopup();
                                positionField.onCreated({layer:marker});
                                L.circle(e.latlng, radius).addTo(map);
                        }
                
                        function onLocationError(e) {
                                alert('Per utilizzare l\'applicazione da mobile è necessario attivare la funzione di geolocalizzazione');
                        }
                
                        //map.removeControl(map.resetviewControl)
                        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                            if(!(navigator.geolocation)){
                                alert('Per utilizzare l\'applicazione da mobile è necessario attivare la funzione di geolocalizzazione');
                            }else{
                                map.on('locationfound', onLocationFound);
                                map.on('locationerror', onLocationError);
                                map.locate({setView: true, maxZoom: 16});
                                window.jQuery('.leaflet-draw').remove();
                                window.jQuery('#striped-rows').text("Inserisci il fenomento osservato. Se la posizione non è abbastanza precisa, attendi qualche istante e aggiorna la pagina");
                            }
                        }else{
                            L.easyButton({
                                states: [{
                                    stateName: 'geolocation-marker',
                                    icon: 'fa-location-arrow',
                                    title: 'Get user position',
                                    onClick: function(control) {
                                        if (navigator.geolocation) {
                                            navigator.geolocation.getCurrentPosition(showPosition);
                                        } else {
                                            alert( "La funzione di geolocalizzazione non è supportata dal tuo browser.");
                                        }
                                    },
                                }]
                            }).addTo(map);

                        }

                    }
                </script>
            
            </div>  
            <div class="col-md-4 insertdata-selector" id="right-side-panel">

                {% if form.visibility_intensity %}
                <div class="form-group pl-md row">
                       <a href="#servicesModal0" data-toggle="modal">{% trans 'No phenomenon in progress' %}
                       <i class="fa fa-info-circle"></i>
                   </a>
                   {{ form.not_significant }}
                </div>

                <div class="form-group pl-md row">
                   <a href="#servicesModal1" data-toggle="modal">{% trans 'Visibility' %}
                       <i class="fa fa-info-circle"></i>
                   </a>
                   {{ form.visibility_intensity }}
                </div>

                <div class="form-group pl-md row">
                   <a href="#servicesModal2" data-toggle="modal">{% trans 'Rain' %}
                       <i class="fa fa-info-circle"></i>
                   </a>
                   {{ form.rain_intensity }}
                </div>

               <div class="form-group pl-md row">
                   <a href="#servicesModal3" data-toggle="modal">{% trans 'Snow' %}
                       <i class="fa fa-info-circle"></i>
                   </a>
                   {{ form.snow_intensity }}
                </div>

                <div class="form-group pl-md row">
                   <a href="#servicesModal4" data-toggle="modal">{% trans 'Thunderstorm' %}
                       <i class="fa fa-info-circle"></i>
                   </a>
                   {{ form.thunderstorm_intensity }}
                </div>

                <div class="form-group pl-md row">
                   <a href="#servicesModal5" data-toggle="modal">{% trans 'Tornado' %}
                       <i class="fa fa-info-circle"></i>
                   </a>
                   {{ form.tornado }}
                </div>
                {% endif %}

                {% if form.impact_detected %}

                <!--div class="form-group pl-md row">
                   <div class="panel panel-danger">
                       <div class="panel-heading">Attenzione</div>
                       <div class="panel-body">La procedura di inserimento di osservazioni relative ad impatti &egrave; ancora in fase di sviluppo, pertanto l'informazione inserita da parte dell'utente portrebbe non essere acquisita dal sistema</div>
                   </div>
                </div-->

                <div class="form-group pl-md row">
                   <a href="#servicesModal6" data-toggle="modal">{% trans 'Impact type' %}
                       <i class="fa fa-info-circle"></i>
                   </a>
                   {{ form.impact_detected }}
                </div>
 
                {% endif %}

                <br>
                <br>  
                 <br>
                <div id='submit-container'>
                    <div class="form-group form-pad row" >
                        <input type="submit" value={% trans "Submit" %}  class="btn col-xs-10 col-xs-offset-1">
                    </div>
                </div>

            </div>
       </form>
    </div>
</div>

{% include 'rainbo/service_detail_0.html' %}
{% include 'rainbo/service_detail_1.html' %}
{% include 'rainbo/service_detail_2.html' %}
{% include 'rainbo/service_detail_3.html' %}
{% include 'rainbo/service_detail_4.html' %}
{% include 'rainbo/service_detail_5.html' %}
{% include 'rainbo/service_detail_6.html' %}

{% endblock %}
