#spots {
     height: 400px;
}

form {
    border: 2px solid silver;
    border-radius: 25px;
  /*border: 1px solid silver;*/
  /*max-width: 260px;*/
  width: 90%;
  margin:0 auto;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 2px 2px 4px #dedede;
  position: relative;
  /*background-image: url(rmap-02.png);
  background-repeat: no-repeat;
  background-position: center -75px;
  padding-top: 125px;*/
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

a.inlinehelp {
  background-color: #dd5555;
  border: 1px solid #cc4444;
  color: yellow;
  display: block;
  float:left;
  font-size: 2em;
  font-weight: bolder;
  height: 1.25em;
  margin-right: 0.3em;
  position: relative;
  line-height: 1.25em;
  text-align: center;
  text-decoration: none;
  top: 0.25em;
  width: 1.25em;
  box-shadow: 2px 0px 3px rgba(54, 16, 16, 0.36);
}

form > label {
  width:100%;
  float:left;
  display: inline-block;
}

#content.mainstyle p{
  padding:0 20px;
  margin-top:0;
}

#content.mainstyle{
  background-color: #ffffff;
  color: #000000;
  padding:0 0 20px;
  min-height: 400px;
}