{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extra_assets %}

<link rel="stylesheet" href="{% static "showdata/weather-icons-master/css/weather-icons.min.css" %}" type="text/css" />
<style>
.wi {
    font-size: 2.5em;
}
</style>


<script>
  var icon = {};
  icon.B12101='<i class="wi wi-thermometer" ></i>'
  icon.B13003='<i class="wi wi-humidity" ></i>'
  icon.B10004='<i class="wi wi-barometer" ></i>'
  icon.B11001='<i class="wi wi-wind-direction" ></i>'
  icon.B11002='<i class="wi wi-strong-wind" ></i>'
  icon.B13011='<i class="wi wi-umbrella" ></i>'
  icon.B15198='<i class="wi wi-dust" ></i>'
  icon.B15195='<i class="wi wi-dust" ></i>'
  icon.B20003='<i class="wi wi-day-lightning" ></i>'
  icon.B13013='<i class="wi wi-snowflake-cold" ></i>'
  icon.B20001='<i class="wi wi-windy" ></i>'
</script>

{% endblock %}

{% block content %}

<table class="table table-striped">
  <tbody>

    {% for meta in metadata %}
    {% with trange=meta.trange %}
    {% with level=meta.level %}
    {% with var=meta.var %}
    
    {% if coords != "*" %}
    
    <p><a href='
	  {% if hour %}
	  {% url 'showdata:timeserieshourly' ident coords network meta.trange meta.level meta.var year month day hour %}
	  {% elif day %}
	  {% url 'showdata:timeseriesdaily' ident coords network meta.trange meta.level meta.var year month day %}
	  {% elif month %}
	  {% url 'showdata:timeseriesmonthly' ident coords network meta.trange meta.level meta.var year month %}
	  {% elif year %}
	  {% url 'showdata:timeseriesyearly' ident coords network meta.trange meta.level meta.var year %}
	  {% endif %}
	  '>Timeseries {{ident}} {{coords}} {{network}} {{meta.trangetxt}} {{meta.leveltxt}} {{meta.vartxt}} {{year}} {{month}} {{day}} {{hour}} </a></p>
    
    {% endif %}

    {% if year %}
    {% if month %}
    {% if day %}

    <tr>
      <td>
	<a href='
	   {% url 'showdata:spatialseriesdaily' ident coords network meta.trange meta.level meta.var year month day %}'>
	  <script>document.write(icon.{{meta.var}})</script>
	</a>
      </td>
      <td>
	{{meta.vartxt}}
      </td>
      <td>
	<table>
	  <tbody>
	    <tr>
	      <td>
		{{meta.leveltxt}}
	      </td>
	    </tr>
	    <tr>
	      <td>
		{{meta.trangetxt}}
	      </td>
	    </tr>
	  </tbody>
	</table>
      </td>
    </tr>

{% endif %}
{% endif %}
{% endif %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endfor %}
</tbody>
</table>

{% endblock %}



{% comment %}
{% if hour %}
<a href='
  {% url 'showdata:spatialserieshourly' ident coords network meta.trange meta.level meta.var year month day hour %}
  '>Spatialseries Hourly {{ident}} {{coords}} {{network}} {{meta.trangetxt}} {{meta.leveltxt}} {{meta.vartxt}} {{year}} {{month}} {{day}} {{hour}} </a><br>
{% endif %}
{% if day %}
<a href='
   {% url 'showdata:spatialseriesdaily' ident coords network meta.trange meta.level meta.var year month day %}
   '>Spatialseries Daily<br>
  {{meta.vartxt}}<br>
  {{ident}} {{coords}} {{network}}
  {{meta.trangetxt}}<br>
  {{meta.leveltxt}}<br>
  {{year}} {{month}} {{day}} {{hour}} </a><br>
{% endif %}

{% endcomment %}
