{% extends "rainbo/base_service/base_service_content.html" %}

{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}
{% load staticfiles %}

{% block extra_assets %}
{% leaflet_js %}
{% leaflet_css %}

 <script src="{% static "rmap/libs/jquery/2.1.1/jquery.min.js" %}" type="text/javascript"></script>
 <!-- Custom styles for this template -->
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="{% static "rmap/libs/jquery-ui-1.12.1//jquery-ui.css" %}" type="text/css" />
 <script type="text/javascript" src="{% static "rmap/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}" ></script>
 <script type="text/javascript" src="{% static "showdata/PruneCluster.js" %}" ></script>

 <script type="text/javascript" src="{% static "showdata/borinud.trange.js" %}" ></script>
 <script type="text/javascript" src="{% static "showdata/borinud.level.js" %}" ></script>
 <script type="text/javascript" src="{% static "showdata/borinud.B.js" %}" ></script>

 <link rel="stylesheet" type="text/css" href="{% static "showdata/LeafletStyleSheet.css" %}" >

 <script type="text/javascript" src="{% static "showdata/leaflet.label.js" %}" ></script>
 <link rel="stylesheet" type="text/css" href="{% static "showdata/leaflet.label.css" %}" >

<!--
 <script type="text/javascript" src="{% static "showdata/leaflet.markercluster.js" %}" ></script>
 <link rel="stylesheet" type="text/css" href="{% static "showdata/MarkerCluster.css" %}" >
 <link rel="stylesheet" type="text/css" href="{% static "showdata/MarkerCluster.Default.css" %}" >
-->

<style>

.ui-dialog,.ui-dialog-content {background:green}

.myDivIcon {
    background-size: 100%;
    background-color: lightyellow;
    /*opacity: .9; */border: 1px solid #000;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    /*color: #FFF;
    background: #333;
    line-height: 14px;*/
}


.leaflet-label {
    background: rgba(235, 235, 235, 0.95);
    z-index: 10000 !important;
}


</style>

<script src= {% static "showdata/jquery.preload.min.js" %}></script>

<script>
    jQuery(function( $ ){
        $('#preloadimages img').preload({
            placeholder:'{% static "showdata/loading.gif" %}',
            notFound:'{% static "showdata/access-error-logs.png" %}'
        })
    });
</script>


{% endblock %}

{% block container %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-xs-12">
      <h4>
       {{vartxt}}  {{bcode.userunit}}<br>
       {{trangetxt}}<br>
       {{leveltxt}}<br>
       {{day}}/{{month}}/{{year}}{% if hour %}  {{hour}}:00 +/- 30 min{% else %} values in the day{% endif %} GMT
      </h4>
    </div>

    <div class="col-lg-3 col-xs-12">
      <div class=row>
        <div class="col-xs-6">
          <p class="text-center">
            <a class="btn btn-default" role="button" href="{{previous}}">{% trans "Prev" %}</a>
          </p>
        </div>
      <div class="col-xs-6">
        <p class="text-center">
          <a class="btn btn-default" role="button" href="{{next}}">{% trans "Next" %}</a>
        </p>
      </div>
    </div>
  </div>
</div>
  
<div id="loading" title="{% trans "Loading data" %}"> 
  <p>{% trans "Please wait ..." %}</p>
</div>

<script type="text/javascript">
  
// var definition
{% if hour %}
var url = "{% url 'api:v1:spatialserieshourly' 'geojson' ident coords network trange level var year month day hour %}{% if dsn %}?dsn={{dsn}}{% endif %}"
{% else %}
var url = "{% url 'api:v1:spatialseriesdaily' 'geojson' ident coords network trange level var year month day %}{% if dsn %}?dsn={{dsn}}{% endif %}"
{% endif %}

var type = "";
{% if type %}
type = {{type}};
{% endif %}

var coords=[];
var min=Infinity;
var max=-Infinity;
var colors = ['#3030ff','#007885','#00855D','#0D8500','#478500','#788500','#853C00','#850000' ];
var filter =[];

function null2_(i)
{
    return(i === null) ? "-" : i;
}

switch(type){
    case 110:
        filter = filter.concat([110,130]);
    break;
    case 150:
        filter = filter.concat([150,160,165,184]);
    break;
    case 180:
    filter = filter.concat([185,186,187]);
        break;
    case 190:
    filter = filter.concat([192,193,195,196]);
        break;
    case 199:
    filter = filter.concat([199]);
        break;
    default :
    break;
}

function getColorIndex(d,min,max) {
    var delta=(max-min)/(colors.length);
    return Math.max(0,Math.min(colors.length-1,Math.floor((d-min)/delta)));
}


function getColor(d,min,max) {
    return colors[getColorIndex(d,min,max)];
}

//https://github.com/tonekk/Leaflet-Extended-Div-Icon
(function(L) {
  
  /*
   * by tonekk. 2014, MIT License
   */
  
  L.ExtendedDivIcon = L.DivIcon.extend({
    createIcon: function(oldIcon) {
      var div = L.DivIcon.prototype.createIcon.call(this, oldIcon);
  
      if(this.options.id) {
        div.id = this.options.id;
      }
  
      if(this.options.style) {
        for(var key in this.options.style) {
          div.style[key] = this.options.style[key];
        }
      }
  
      return div;
    }
  });

  L.extendedDivIcon = function(options) {
    return new L.ExtendedDivIcon(options);
  }
})(window.L);

function keepFeature(feature_var, feature_val){
    if(feature_var ===  'B20003'){
        if (filter.indexOf(feature_val)=== -1 ){
            return false;
        }
    } 
    return true;    
}

function beforesend(){
    $("#loading").dialog('open').html("<p>{% trans "Please Wait..." %}</p>");
}


function setpopup(feature){
    //simplyfied popup
    var b = borinud.config.B[feature.properties.var];
    var popupText = "<div id='preloadimages'>"
        + "Ident: " + null2_(feature.properties.ident)
        + "<br>Lon: " + feature.properties.lon/100000
        + "<br>Lat: " + feature.properties.lat/100000
        + "<br>Network: " + feature.properties.network
        + "<br>Trange: " + borinud.config.trange.describe(feature.properties.trange[0],feature.properties.trange[1],feature.properties.trange[2])
        + "<br>Level: " + borinud.config.level.describe(feature.properties.level[0],feature.properties.level[1],feature.properties.level[2],feature.properties.level[3])
        + "<br>Date: " + feature.properties.date
        + "<br>Var: " + b.description + " " + feature.properties.val + " (" + b.unit + ")"
        +"</div>";

    return popupText

}


function map_init(map, options){
    // moved here the .dialog initialization 
    $("#loading").dialog({
        hide: 'slide',
        show: 'slide',
        autoOpen: false
    });
    
    $.ajax({
        url: url,
        dataType: "json",
        beforeSend: beforesend,
        success: function(collection){
            for (i = 0; i < collection['features'].length; i++) {
                min=Math.min(min,collection['features'][i].properties.val);
                max=Math.max(max,collection['features'][i].properties.val);
            }
            //  Legend
            var legend = L.control({position: 'bottomright'});
            legend.onAdd = function (map) {

                var div = L.DomUtil.create('div', 'info legend')
                // loop through our density intervals and generate a label with a colored square for each interval

                var halfdelta = ((max-min)/(colors.length*2.));

                for (var i = 0; i < colors.length; i++) {
                    var grade = min + halfdelta * (i*2+1);
                    div.innerHTML += '<div style="background:white">'+
                    '<b style="background:' + getColor(grade,min,max) + '">&nbsp;&nbsp;&nbsp;</b>&nbsp;'
                    + (grade*{{bcode.scale}}+{{bcode.offset}}).toPrecision(5).replace(/\.?0+$/,"") + '<br></div>';
                }
                return div;
            };
        
            //legend.addTo(map);

            ////////////        

            pi2 = Math.PI * 2;
            L.Icon.MarkerCluster = L.Icon.extend({
                options: {
                    iconSize: new L.Point(44, 44),
                    className: 'prunecluster leaflet-markercluster-icon'
                },

                createIcon: function() {
                // based on L.Icon.Canvas from shramov/leaflet-plugins (BSD licence)
                var e = document.createElement('canvas');
                this._setIconStyles(e, 'icon');
                var s = this.options.iconSize;
                e.width = s.x;
                e.height = s.y;
                this.draw(e.getContext('2d'), s.x, s.y);
                return e;
                },
            
                createShadow: function() {
                    return null;
                },
            
                draw: function(canvas, width, height) {
                    var lol = 0;
                    var start = 0;
                    var prevalent = 0;
                    var prevalentindex = 0;
                    for (var i = 0, l = colors.length; i < l; ++i) {
                        var size = this.stats[i] / this.population;
                        if (size > 0) {
                            if (this.stats[i] > prevalent) {
                                prevalentindex=i;
                                prevalent=this.stats[i];
                            }
                            canvas.beginPath();
                            canvas.moveTo(22, 22);
                            canvas.fillStyle = colors[i];
                            var from = start,
                                to = start + size * pi2;
                            if (to < from) {
                                from = start;
                            }
                            canvas.arc(22, 22, 22, from, to);
                            start = to;
                            canvas.lineTo(22, 22);
                            //canvas.stroke();
                            canvas.fill();
                            canvas.closePath();
                        }
                    }
                    canvas.beginPath();
                    canvas.fillStyle = colors[prevalentindex];
                    canvas.arc(22, 22, 15, 0, Math.PI * 2);
                    canvas.stroke();
                    canvas.fill();
                    canvas.closePath();
                    canvas.fillStyle = '#111';
                    canvas.textAlign = 'center';
                    canvas.textBaseline = 'middle';
                    canvas.font = 'bold 8px sans-serif';
                    //canvas.fillText(this.population, 22, 22,28);
                    var halfdelta = ((max-min)/(colors.length*2.));
                    var grade = min + halfdelta * (prevalentindex*2+1);
                    grade = (grade*{{bcode.scale}}+{{bcode.offset}}).toPrecision(5).replace(/\.?0+$/,"");
                    canvas.fillText(grade , 22, 22, 28);
                }
            });

            /////////////
        
            var pruneCluster = new PruneClusterForLeaflet();
            pruneCluster.Cluster.Size = 15;
            pruneCluster.ProcessView(); // looks like it works OK without this line

            ////////////

            pruneCluster.BuildLeafletClusterIcon = function(cluster) {
                var e = new L.Icon.MarkerCluster();
                e.stats = cluster.stats;
                e.population = cluster.population;
                return e;
            };

            ////////////

            pruneCluster.PrepareLeafletMarker = function(leafletMarker, data) {
                if (leafletMarker.getPopup()) {
                    leafletMarker.setPopupContent(setpopup(data.feature));
                } else {
                    //leafletMarker.bindPopup(data.name);
                    leafletMarker.bindPopup(setpopup(data.feature));
                }
                var val=(data.feature.properties.val*{{bcode.scale}}+{{bcode.offset}}).toPrecision(5).replace(/\.?0+$/,"");
                val = "XXX";
                var vallen= val.length * 6 + 6;
                classStr = 'myDivIcon myDivIcon'+data.feature.properties.val.toString();
                leafletMarker.setIcon(
                    L.extendedDivIcon({
                        //iconSize: new L.Point(vallen, 14),
                        iconSize: new L.Point(50, 50),
                        labelAnchor: [vallen/2, 0],                
                        html: val,
                        className: classStr,
                        //data.feature.properties.val.toString(),
                        style: { backgroundColor:getColor(data.feature.properties.val,min,max)}
                    })
                );

                leafletMarker.bindLabel(data.feature.properties.date);
                
                /*leafletMarker.on('popupopen',function managepreload(e){
                    $('#preloadimages img').preload({
                        placeholder:'{% static "showdata/loading.gif" %}',
                        notFound:'{% static "showdata/access-error-logs.png" %}'
                    })
                });*/
            };

            // ADD Marker to map 
            $.each(collection.features, function(i,feature) {
                if (keepFeature(feature.properties.var, feature.properties.val)){
                    coords.push( [ feature.geometry.coordinates[1],feature.geometry.coordinates[0] ]);
                    var marker = new PruneCluster.Marker(feature.geometry.coordinates[1], feature.geometry.coordinates[0]);
                    marker.data.feature=feature;
                    marker.category = getColorIndex(feature.properties.val,min,max);
                    pruneCluster.RegisterMarker(marker);
                }    
            });

            map.addLayer(pruneCluster);

            try{
                map.fitBounds(coords);
            }
            catch(err) {
                $('#loading').html("<p>Error setting bounds...</p>");
            }

            $('#loading').html("<p>Result Complete...</p>");
            $("#loading").dialog('close')
        },

        error: function(jqXHR,textStatus,errorThrown )
        {    
        $('#loading').html("<p>"+textStatus+"</p><p>Fatal error loading data!</p>");
        }
    })
}

</script>
{% leaflet_map "spots" callback="window.map_init" %}
{% endblock %}
