{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}
{% load staticfiles %}
{% block extra_assets %}
{% leaflet_js %}
{% leaflet_css %}

    <script src="{% static "rmap/libs/jquery/2.1.1/jquery.min.js" %}" type="text/javascript"></script>
    <!-- Custom styles for this template -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="{% static "rmap/libs/jquery-ui-1.12.1//jquery-ui.css" %}" type="text/css" />
 <script type="text/javascript" src="{% static "rmap/libs/jquery-ui-1.12.1/jquery-ui.min.js" %}" ></script>
 <script type="text/javascript" src="{% static "showdata/PruneCluster.js" %}" ></script>
 <link rel="stylesheet" type="text/css" href="{% static "showdata/LeafletStyleSheet.css" %}" >

 <script type="text/javascript" src="{% static "showdata/leaflet.label.js" %}" ></script>
 <link rel="stylesheet" type="text/css" href="{% static "showdata/leaflet.label.css" %}" >

<!--
 <script type="text/javascript" src="{% static "showdata/leaflet.markercluster.js" %}" ></script>
 <link rel="stylesheet" type="text/css" href="{% static "showdata/MarkerCluster.css" %}" >
 <link rel="stylesheet" type="text/css" href="{% static "showdata/MarkerCluster.Default.css" %}" >
-->

<style>

.ui-dialog,.ui-dialog-content {background:green}

.myDivIcon {
    /*opacity: .9; */border: 1px solid #000;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 14px;
    vertical-align: middle;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    color: #FFF;
    background: #333;
    line-height: 14px;
}

</style>

<script src= {% static "showdata/jquery.preload.min.js" %}></script>

<script>
  jQuery(function( $ ){
       $('#preloadimages img').preload({
            placeholder:'{% static "showdata/loading.gif" %}',
            notFound:'{% static "showdata/access-error-logs.png" %}'
       })
  });
</script>


{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9">
      <h4>
	{{vartxt}}<br>
	{{trangetxt}}<br>
	{{leveltxt}}<br>
	{{day}}/{{month}}/{{year}}{% if hour %}  {{hour}}:00 +/- 30 min{% else %} last value in the day{% endif %} GMT
      </h4>
    </div>

    <div class="col-xs-3">
      <div class=row>
	<div class="col-xs-1 col-xs-offset-2">
	  {% if more %} 
	  <p class="text-center">
	    <a class="btn btn-default" role="button" href="{{more}}">{% trans "More" %}</a>
	  </p>
	  {% endif %} 
	</div>
      </div>
      <div class=row>
	<div class="col-xs-1">
          <p class="text-center">
	    <a class="btn btn-default" role="button" href="{{previous}}">{% trans "Prev" %}</a>
	  </p>
	</div>
	<div class="col-xs-1 col-xs-offset-3">
          <p class="text-center">
	    <a class="btn btn-default" role="button" href="{{next}}">{% trans "Next" %}</a>
	  </p>
	</div>
      </div>
      <div class=row>
	<div class="col-xs-1 col-xs-offset-2">
	  {% if less %} 
	  <p class="text-center">
	    <a class="btn btn-default" role="button" href="{{less}}">{% trans "Less" %}</a>
	  </p>
	  {% endif %} 
	</div>
      </div>
    </div>
  </div>
  
  <div id="loading" title="{% trans "Loading data" %}"> 
    <p>{% trans "Please wait ..." %}</p>
  </div>

  <script type="text/javascript">
  
$("#loading").dialog({
    hide: 'slide',
    show: 'slide',
    autoOpen: false
});

{% if hour %}
var url = "{% url 'api:v1:spatialserieshourly' 'geojson' ident coords network trange level var year month day hour %}"
{% else %}
var url = "{% url 'api:v1:spatialseriesdaily' 'geojson' ident coords network trange level var year month day %}"
{% endif %}

var coords=[];
var min=Infinity;
var max=-Infinity;

function null2_(i)
{
    return(i === null) ? "-" : i;
}

/*
function  null2_( target ) 
{
    Object.keys( target ).map
    ( 
	function ( key ) {
	    if ( ! target[ key ] instanceof Object ) 
	    {
		if ( target[ key ] === null ) 
		{
		    target[ key ] = "-";
		}
	    }
	}
    );
  return target;
};
*/


function oneachfeature(feature, layer)
{
    var popupText = "<div id='preloadimages'>"
        + "Ident: " + null2_(feature.properties.ident)
	+ "<br>Lon: " + feature.properties.lon
	+ "<br>Lat: " + feature.properties.lat
	+ "<br>Network: " + feature.properties.network
	+ "<br>Trange: " + feature.properties.trange
	+ "<br>Level: " + feature.properties.level
	+ "<br>Date: " + feature.properties.date
	+ "<br>Var: " + feature.properties.var + " " + feature.properties.val
	+ "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/*/*/*/stations'>Constant station data</a>"
{% if hour %}
	+ "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}/{{hour}}'>"

{% else %}
	+ "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}'>"
{% endif %}

      + "<img src=/graphite/render/?target="
+"report_fixed."+null2_(feature.properties.ident)+"."+feature.properties.lon+"_"+feature.properties.lat+"."+null2_(feature.properties.network)+"."+feature.properties.trange[0]+"_"+feature.properties.trange[1]+"_"+feature.properties.trange[2]+"."+null2_(feature.properties.level[0])+"_"+null2_(feature.properties.level[1])+"_"+null2_(feature.properties.level[2])+"_"+null2_(feature.properties.level[3])+"."+null2_(feature.properties.var)
+"&from={{ datefrom }}&until={{ dateuntil }}&hideLegend=true&tz=UTC&lineMode=connected&lineWidth=3&width=150&height=100&graphOnly=true' alt='graphic for {{var}}' class='img-thumbnail'>"
+"</a>";

    if ( feature.properties.ident !== null ) 
    {
    popupText +=
      {% if hour %}
        "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}/{{hour}}?type=report_mobile'>"
      {% else %}
        "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}?type=report_mobile'>"
      {% endif %}
     +"{% trans "Mobile station data" %}</a>"
    }

    popupText +="</div>";

    //var popup = L.popup().setContent(popupText);

    var popup = layer.bindPopup(popupText);

    popup.on('popupopen',function managepreload(e) 
    {
       $('#preloadimages img').preload({
            placeholder:'{% static "showdata/loading.gif" %}',
            notFound:'{% static "showdata/access-error-logs.png" %}'
       })
    })
}

function getColor(d,min,max) {
    var delta=(max-min)/8.;
    return d > min+(delta*7)   ? '#850000' :
           d > min+(delta*6)   ? '#853C00' :
           d > min+(delta*5)   ? '#788500' :
           d > min+(delta*4)   ? '#478500' :
           d > min+(delta*3)   ? '#0D8500' :
           d > min+(delta*2)   ? '#00855D' :
           d > min+(delta*1)   ? '#007885' :
                      '           #090085' ;
}

//https://github.com/tonekk/Leaflet-Extended-Div-Icon
(function(L) {
  
  /*
   * by tonekk. 2014, MIT License
   */
  
  L.ExtendedDivIcon = L.DivIcon.extend({
    createIcon: function(oldIcon) {
      var div = L.DivIcon.prototype.createIcon.call(this, oldIcon);
  
      if(this.options.id) {
        div.id = this.options.id;
      }
  
      if(this.options.style) {
        for(var key in this.options.style) {
          div.style[key] = this.options.style[key];
        }
      }
  
      return div;
    }
  });

  L.extendedDivIcon = function(options) {
    return new L.ExtendedDivIcon(options);
  }
})(window.L);



function pointtolayer(feature, latlng) 
{
    
    if (feature.geometry && feature.geometry.coordinates) {
	coords.push( [ feature.geometry.coordinates[1],feature.geometry.coordinates[0] ]);

	var vallen= (feature.properties.val).toString().length * 6;

        //alert(getColor(feature.properties.val,min,max));
	var myIcon = L.extendedDivIcon({
            iconSize: new L.Point(vallen, 14),
            html: feature.properties.val,
            className: 'myDivIcon',
            // Set style here (new!)
            style: {
              backgroundColor:getColor(feature.properties.val,min,max)
            }
        });

	return L.marker(latlng, {icon: myIcon,  riseOnHover: true, riseOffset: 10000, title:feature.properties.date });
	
	//, zIndexOffset: 1
    }
}

function beforesend(){
    $("#loading").dialog('open').html("<p>{% trans "Please Wait..." %}</p>");
}




function setpopup(feature)
{
    var popupText = "<div id='preloadimages'>"
        + "Ident: " + null2_(feature.properties.ident)
	+ "<br>Lon: " + feature.properties.lon
	+ "<br>Lat: " + feature.properties.lat
	+ "<br>Network: " + feature.properties.network
	+ "<br>Trange: " + feature.properties.trange
	+ "<br>Level: " + feature.properties.level
	+ "<br>Date: " + feature.properties.date
	+ "<br>Var: " + feature.properties.var + " " + feature.properties.val
	+ "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/*/*/*/stations'>Constant station data</a>"
{% if hour %}
	+ "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}/{{hour}}'>"

{% else %}
	+ "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}'>"
{% endif %}

      + "<img src=/graphite/render/?target="
+"report_fixed."+null2_(feature.properties.ident)+"."+feature.properties.lon+"_"+feature.properties.lat+"."+null2_(feature.properties.network)+"."+feature.properties.trange[0]+"_"+feature.properties.trange[1]+"_"+feature.properties.trange[2]+"."+null2_(feature.properties.level[0])+"_"+null2_(feature.properties.level[1])+"_"+null2_(feature.properties.level[2])+"_"+null2_(feature.properties.level[3])+"."+null2_(feature.properties.var)
+"&from={{ datefrom }}&until={{ dateuntil }}&hideLegend=true&tz=UTC&lineMode=connected&lineWidth=3&width=150&height=100&graphOnly=true' alt='graphic for {{var}}' class='img-thumbnail'>"
+"</a>";

    if ( feature.properties.ident !== null ) 
    {
    popupText +=
      {% if hour %}
        "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}/{{hour}}?type=report_mobile'>"
      {% else %}
        "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}?type=report_mobile'>"
      {% endif %}
     +"{% trans "Mobile station data" %}</a>"
    }

    popupText +="</div>";

    return popupText

}


function map_init(map, options) 
{
    
    $.ajax
    (
	{
	    url: url,
	    dataType: "json",
	    beforeSend: beforesend,
	    success: function(collection)
            {

                for (i = 0; i < collection['features'].length; i++) {
                  min=Math.min(min,collection['features'][i].properties.val);
		  max=Math.max(max,collection['features'][i].properties.val);
		}
		
                var pruneCluster = new PruneClusterForLeaflet();
		pruneCluster.Cluster.Size = 25;
		pruneCluster.ProcessView(); // looks like it works OK without this line
		
		pruneCluster.PrepareLeafletMarker = function(leafletMarker, data) {
		    if (leafletMarker.getPopup()) {
			leafletMarker.setPopupContent(setpopup(data.feature));
		    } else {
			//leafletMarker.bindPopup(data.name);
			leafletMarker.bindPopup(setpopup(data.feature));
		    }

		    var vallen= (data.feature.properties.val).toString().length * 6 + 6;
		    leafletMarker.setIcon(
			L.extendedDivIcon
			({
			    iconSize: new L.Point(vallen, 14),
			    html: data.feature.properties.val,
			    className: 'myDivIcon',
			    style: {backgroundColor:getColor(data.feature.properties.val,min,max)}
			})
		    );

		    leafletMarker.bindLabel(data.feature.properties.date);
		    
		    /*
		    var popup = L.popup()
		    
		    leafletMarker.on('mouseover', function(e) {
			//open popup;
			    popup.setContent(data.feature.properties.date).setLatLng(e.latlng).openOn(map);
		    });
		    leafletMarker.on('mouseout', function(e) {
			//close popup;
			    popup.closePopup();
		    });
		    */
		    leafletMarker.on('popupopen',function managepreload(e) 
				     {
					 $('#preloadimages img').preload({
					     placeholder:'{% static "showdata/loading.gif" %}',
					     notFound:'{% static "showdata/access-error-logs.png" %}'
					 })
				     });
		};

                $.each(collection.features, function(i,feature) {
		    
		    coords.push( [ feature.geometry.coordinates[1],feature.geometry.coordinates[0] ]);
		    
		    var marker = new PruneCluster.Marker(feature.geometry.coordinates[1], feature.geometry.coordinates[0]);
		    marker.data.feature=feature;
		    
		    /*
		    var vallen= (feature.properties.val).toString().length * 6 + 6;
                    marker.data.icon = L.extendedDivIcon({
			iconSize: new L.Point(vallen, 14),
			html: feature.properties.val,
			className: 'myDivIcon',
			// Set style here (new!)
			style: {backgroundColor:getColor(feature.properties.val,min,max)}
		    });

		    marker.data.popup = setpopup(feature);
		    */
		    
		    /*
		    var popupOptions = {};
		    // you have to append the marker on the creation of the popup
		    // so that the popup element will have the marker source.
		    var popup = L.popup(popupOptions, marker );

		    popup.setContent(setpopup(feature));

		    marker.bindPopup(popup);

		    marker.on('popupopen',function managepreload(e) 
			      {
				  $('#preloadimages img').preload({
				      placeholder:'{% static "showdata/loading.gif" %}',
				      notFound:'{% static "showdata/access-error-logs.png" %}'
				  })
			      })
		    */

		    /*
		      var popup = layer.bindPopup(popupText);

		      popup.on('popupopen',function managepreload(e) 
		      {
		      $('#preloadimages img').preload({
		      placeholder:'{% static "showdata/loading.gif" %}',
		      notFound:'{% static "showdata/access-error-logs.png" %}'
		      })
		      })
		    */

		    pruneCluster.RegisterMarker(marker);
                });

                map.addLayer(pruneCluster);

		try{
		    map.fitBounds(coords);
		}
		catch(err) {
		    $('#loading').html("<p>Error setting bounds...</p>");
		}

		$('#loading').html("<p>Result Complete...</p>");
		$("#loading").dialog('close')

	    },


	    error: function(jqXHR,textStatus,errorThrown )
	    {	
		$('#loading').html("<p>"+textStatus+"</p><p>Fatal error loading data!</p>");
	    }
	}
    )
}

</script>

  {% leaflet_map "spots" callback="window.map_init" %}


  <div class="row">
    <div class="col-xs-8">
      <p style="text-align:left">
	<a href='
	   {% if hour %}
	   {% url 'showdata:spatialserieshourly' ident "*" network trange level var year month day hour %}
	   {% elif day %}
	   {% url 'showdata:spatialseriesdaily'  ident "*" network trange level var year month day %}
	   {% endif %}
	   '>{% trans "Show all coordinates on a map" %}
	</a>
      </p>
    </div>

    <div class="col-xs-4">
      <p style="text-align:left">
	<a href='
	   {% if hour %}
	   {% url 'showdata:timeserieshourly' ident coords network trange level var year month day hour %}
	   {% elif day %}
	   {% url 'showdata:timeseriesdaily'  ident coords network trange level var year month day %}
	   {% endif %}
	   '>{% trans "Show all values on a graph" %}
	</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <p style="text-align:left">

	<a href='
	   {% if hour %}
	   {% url 'api:v1:spatialserieshourly' 'dbajson' ident coords network trange level var year month day hour %}
	   {% else %}
	   {% url 'api:v1:spatialseriesdaily' 'dbajson' ident coords network trange level var year month day %}
	   {% endif %}
	   '>{% trans "Download data" %}
	</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
