{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extra_assets %}

<script src= {% static "showdata/jquery.preload.min.js" %}></script>
<script>
  jQuery(function( $ ){
    $('#preloadimages img').preload({
          placeholder:'{% static "showdata/loading.gif" %}',
          notFound:'{% static "showdata/access-error-logs.png" %}'
    });
  });
</script>

{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9">
      
      <h4>
	Ident:{{ident}} Coords:{{coords}} Network:{{network}}<br>
	{{vartxt}}  {{bcode.userunit}}<br>
	{{trangetxt}}<br>
	{{leveltxt}}<br>
	{{datefrom}} - {{dateuntil}} GMT
      </h4>
      
    </div>
    
    <div class="col-xs-3">
      <div class=row>
	<div class="col-xs-1 col-xs-offset-2">
	  {% if more %} 
	  <p class="text-center">
	    <a class="btn btn-default" role="button" href="{{more}}">{% trans "More" %}</a>
	  </p>
	{% endif %} 
	</div>
      </div>
      <div class=row>
	<div class="col-xs-1">
          <p class="text-center">
	    <a class="btn btn-default" role="button" href="{{previous}}">{% trans "Prev" %}</a>
	  </p>
	</div>
	<div class="col-xs-1 col-xs-offset-3">
          <p class="text-center">
	<a class="btn btn-default" role="button" href="{{next}}">{% trans "Next" %}</a>
	  </p>
	</div>
      </div>
      <div class=row>
	<div class="col-xs-1 col-xs-offset-2">
	  {% if less %} 
	  <p class="text-center">
	    <a class="btn btn-default" role="button" href="{{less}}">{% trans "Less" %}</a>
	  </p>
	  {% endif %} 
	</div>
      </div>
    </div>
  </div>

  <p>
    <div id="preloadimages">      

      <img  src="/graphite/render/?target=offset(scale({{dsn}}.{{ ident }}.{{ undescored_coords }}.{{ network }}.{{ undescored_trange }}.{{ undescored_level }}.{{var}},{{bcode.scale}}),{{bcode.offset}})&from={{ datefrom }}&until={{ dateuntil }}&hideLegend=true&tz=UTC&lineMode=connected&lineWidth=3&width=800&height=400">

    </div>
    
  </p>

  <div class="row">
    <div class="col-xs-8">

      <p><a class="btn btn-default" href="/graphite/composer/?target=offset(scale({{dsn}}.{{ ident }}.{{ undescored_coords }}.{{ network }}.{{ undescored_trange }}.{{ undescored_level }}.{{var}},{{bcode.scale}}),{{bcode.offset}})" role="button">Graphite composer &raquo;</a></p>
    </div>

    {% if hour or day %}
    <div class="col-xs-4">
      <p style="text-align:left">
	<a href='
	   {% if hour %}
	   {% url 'showdata:spatialserieshourly' ident coords network trange level var year month day hour %}?{% if dsn %}dsn={{dsn}}{% endif %}{% for key, value in spatialbox.items %}&{{key}}={{value}}{% endfor %}{% for key, value in timebox.items %}&{{key}}={{value}}{% endfor %}
	   {% elif day %}
	   {% url 'showdata:spatialseriesdaily'  ident coords network trange level var year month day %}?{% if dsn %}dsn={{dsn}}{% endif %}{% for key, value in spatialbox.items %}&{{key}}={{value}}{% endfor %}{% for key, value in timebox.items %}&{{key}}={{value}}{% endfor %}
	   {% endif %}
	   '>{% trans "Show values on a map" %}
	</a>
      </p>
    </div>
    {% endif %}

  </div>


  <div class="row">
    <div class="col-xs-4 col-xs-offset-8">
      <p style="text-align:left">
	<a href='
	   {% if hour %}
	   {% url 'api:v1:timeserieshourly' 'dbajson' ident coords network trange level var year month day hour %}?{% if dsn %}dsn={{dsn}}{% endif %}{% for key, value in spatialbox.items %}&{{key}}={{value}}{% endfor %}{% for key, value in timebox.items %}&{{key}}={{value}}{% endfor %}
	   {% elif day %}
	   {% url 'api:v1:timeseriesdaily' 'dbajson' ident coords network trange level var year month day %}?{% if dsn %}dsn={{dsn}}{% endif %}{% for key, value in spatialbox.items %}&{{key}}={{value}}{% endfor %}{% for key, value in timebox.items %}&{{key}}={{value}}{% endfor %}
	   {% elif month %}
	   {% url 'api:v1:timeseriesmonthly' 'dbajson' ident coords network trange level var year month %}?{% if dsn %}dsn={{dsn}}{% endif %}{% for key, value in spatialbox.items %}&{{key}}={{value}}{% endfor %}{% for key, value in timebox.items %}&{{key}}={{value}}{% endfor %}
	   {% elif year %}
	   {% url 'api:v1:timeseriesyearly' 'dbajson' ident coords network trange level var year %}?{% if dsn %}dsn={{dsn}}{% endif %}{% for key, value in spatialbox.items %}&{{key}}={{value}}{% endfor %}{% for key, value in timebox.items %}&{{key}}={{value}}{% endfor %}
	   {% endif %}
	   '>{% trans "Download data" %}
	</a>
      </p>
    </div>
  </div>
</div>


{% endblock %}
