{% load i18n %}
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<style>
img {
    float: right;
    border: 3px solid black;
    margin: 0px 0px 10px 10px;
}
</style>
    <meta name="viewport" content="width=device-width">
    <script src="{% static "rmap/libs/jquery/2.1.1/jquery.min.js" %}" type="text/javascript"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "rmap/libs/bootstrap/3.3.6/css/bootstrap.min.css" %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" >
    <link rel="stylesheet" type="text/css" href="{% static "rmap/libs/bootstrap/3.3.6/css/docs.min.css" %}" >

    <!-- Custom styles for this template -->
    <script src="{% static "rmap/libs/bootstrap/3.3.6/js/bootstrap.min.js" %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
    <img src="/{{ grimage.image.url }}" class="img-rounded img-responsive">
    </div>
    <div class="col-xs-4">
<a href="/geoimage/{{grimage.ident}}">{{grimage.ident}}</a>
    </div>
    <div class="col-xs-8">
 {{grimage.date}}
    </div>
    <div class="col-xs-12">
    {{grimage.comment}}
    </div>
  </div>
</div>
</body>
</html>
