{% extends "base.html" %}
{% load i18n %}

{% block extra_assets %}
{% endblock %}

{% block content %}


{% for meta in metadata %}
{% with trange=meta.trange %}
{% with level=meta.level %}
{% with var=meta.var %}

{% if coords != "*" %}

<p><a href='
{% if hour %}
  {% url 'showdata:timeserieshourly' ident coords network meta.trange meta.level meta.var year month day hour %}
{% elif day %}
  {% url 'showdata:timeseriesdaily' ident coords network meta.trange meta.level meta.var year month day %}
{% elif month %}
  {% url 'showdata:timeseriesmonthly' ident coords network meta.trange meta.level meta.var year month %}
{% elif year %}
  {% url 'showdata:timeseriesyearly' ident coords network meta.trange meta.level meta.var year %}
{% endif %}
  '>Timeseries {{ident}} {{coords}} {{network}} {{meta.trangetxt}} {{meta.leveltxt}} {{meta.vartxt}} {{year}} {{month}} {{day}} {{hour}} </a></p>
{% endif %}

{% if year %}
{% if month %}

<p>
{% if hour %}
  <a href='
   {% url 'showdata:spatialserieshourly' ident coords network meta.trange meta.level meta.var year month day hour %}
  '>Spatialseries horly {{ident}} {{coords}} {{network}}
   {{meta.trangetxt}} {{meta.leveltxt}} {{meta.vartxt}} {{year}} {{month}} {{day}} {{hour}}
  </a><br>
{% elif day %}
  <a href='
  {% url 'showdata:spatialseriesdaily' ident coords network meta.trange meta.level meta.var year month day %}
     '>Spatialseries daily {{ident}} {{coords}} {{network}}
    {{meta.trangetxt}} {{meta.leveltxt}} {{meta.vartxt}} {{year}} {{month}} {{day}}
  </a>
{% endif %}

{% if hour %}
  <a href='
  {% url 'showdata:spatialseriesdaily' ident coords network meta.trange meta.level meta.var year month day %}
     '>Spatialseries daily {{ident}} {{coords}} {{network}}
    {{meta.trangetxt}} {{meta.leveltxt}} {{meta.vartxt}} {{year}} {{month}} {{day}}
  </a>
{% endif %}
</p>

{% endif %}
{% endif %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endfor %}


{% endblock %}
