{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}

<link rel="stylesheet" href="/static/rmap/libs/jquery-ui-1.12.1//jquery-ui.css" type="text/css" />
<script type="text/javascript" src="/static/rmap/libs/jquery-ui-1.12.1/jquery-ui.min.js" ></script>

<style>

.ui-dialog,.ui-dialog-content {background:green}

.myDivIcon {
    /*opacity: .9; */border: 1px solid #000;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 14px;
    vertical-align: middle;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    color: #FFF;
    background: #333;
    line-height: 14px;
}

</style>

{% endblock %}

{% block content %}

<h4>
{{vartxt}}<br>
{{trangetxt}}<br>
{{leveltxt}}<br>
{{day}}/{{month}}/{{year}}{% if hour %}  {{hour}}:00 +/- 30 min{% else %} last value in the day{% endif %} GMT
</h4>

<div id="loading" title="Loading data"> 
    <p>Please wait ...</p>
</div>

<script type="text/javascript">
  
$("#loading").dialog({
    hide: 'slide',
    show: 'slide',
    autoOpen: false
});

{% if hour %}
var url = "{% url 'api:v1:spatialserieshourly' 'geojson' ident coords network trange level var year month day hour %}"
{% else %}
var url = "{% url 'api:v1:spatialseriesdaily' 'geojson' ident coords network trange level var year month day %}"
{% endif %}

var coords=[];


function null2_(i)
{
    return(i === null) ? "-" : i;
}

/*
function  null2_( target ) 
{
    Object.keys( target ).map
    ( 
	function ( key ) {
	    if ( ! target[ key ] instanceof Object ) 
	    {
		if ( target[ key ] === null ) 
		{
		    target[ key ] = "-";
		}
	    }
	}
    );
  return target;
};
*/


function oneachfeature(feature, layer)
{
    var popupText = "Ident: " + feature.properties.ident
	+ "<br>Lon: " + feature.properties.lon
	+ "<br>Lat: " + feature.properties.lat
	+ "<br>Network: " + feature.properties.network
	+ "<br>Trange: " + feature.properties.trange
	+ "<br>Level: " + feature.properties.level
	+ "<br>Date: " + feature.properties.date
	+ "<br>Var: " + feature.properties.var + " " + feature.properties.val
	+ "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/*/*/*/stations'>Constant station data</a>"

{% if hour %}
	+ "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}/{{hour}}'>"

{% else %}
	+ "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/"+feature.properties.lon+","+feature.properties.lat+"/"+null2_(feature.properties.network)+"/"+feature.properties.trange+"/"+null2_(feature.properties.level[0])+","+null2_(feature.properties.level[1])+","+null2_(feature.properties.level[2])+","+null2_(feature.properties.level[3])+"/"+null2_(feature.properties.var)+"/timeseries/{{year}}/{{month}}/{{day}}'>"
{% endif %}

	+ "<img src=/graphite/render/?target="
+null2_(feature.properties.ident)+"."+feature.properties.lon+"_"+feature.properties.lat+"."+null2_(feature.properties.network)+"."+feature.properties.trange[0]+"_"+feature.properties.trange[1]+"_"+feature.properties.trange[2]+"."+null2_(feature.properties.level[0])+"_"+null2_(feature.properties.level[1])+"_"+null2_(feature.properties.level[2])+"_"+null2_(feature.properties.level[3])+"."+null2_(feature.properties.var)
+"&from={{ datefrom }}&until={{ dateuntil }}&hideLegend=true&tz=UTC&lineMode=connected&lineWidth=3&width=150&height=100&graphOnly=true' alt='graphic for {{var}}' class='img-thumbnail'>"
+"</a>"


    layer.bindPopup(popupText);
}

function pointtolayer(feature, latlng) 
{
    
    if (feature.geometry && feature.geometry.coordinates) {
	coords.push( [ feature.geometry.coordinates[1],feature.geometry.coordinates[0] ]);

	var vallen= (feature.properties.val).toString().length * 6;
	
	var myIcon = L.divIcon({
            iconSize: new L.Point(vallen, 14),
            html: feature.properties.val,
            className: 'myDivIcon '
        });
	
	return L.marker(latlng, {icon: myIcon,  riseOnHover: true, riseOffset: 10000, title:feature.properties.date});
	
	//, zIndexOffset: 1
    }
}

function beforesend(){
    $("#loading").dialog('open').html("<p>Please Wait...</p>");
}


function map_init(map, options) 
{
    
    $.ajax
    (
	{
	    url: url,
	    dataType: "json",
	    beforeSend: beforesend,
	    success: function(collection)
	    {	
		// Aggiungi il JSON in leaflet
		L.geoJson
		(
		    collection,
		    {
			onEachFeature: oneachfeature,
			pointToLayer: pointtolayer
		    }
		).addTo(map);
		
		try{
		    map.fitBounds(coords);
		}
		catch(err) {
		    $('#loading').html("<p>Error setting bounds...</p>");
		}

		$('#loading').html("<p>Result Complete...</p>");
		$("#loading").dialog('close')
	    },


	    error: function(jqXHR,textStatus,errorThrown )
	    {	
		$('#loading').html("<p>"+textStatus+"</p><p>Fatal error loading data!</p>");
	    }
	}
    )
}

</script>

  {% leaflet_map "spots" callback="window.map_init" %}

  <p style="text-align:right">
  <a href='
  {% if hour %}
    {% url 'api:v1:spatialserieshourly' 'dbajson' ident coords network trange level var year month day hour %}
  {% else %}
    {% url 'api:v1:spatialseriesdaily' 'dbajson' ident coords network trange level var year month day %}
  {% endif %}
  '>Download data</a></p>

{% endblock %}
