{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block content %}

<h4>
Ident: {{ident}}<br>
Network: {{network}}<br>
</h4>

    <script type="text/javascript">

function null2_(i)
{
    return(i === null) ? "-" : i;
}

      var url = "{% url 'api:v1:stationdata' ident coords network trange level var %}"

      function map_init(map, options) {

      $.ajax({
        url: url,
        dataType: "json",
        success: function(collection) {
          // Aggiungi il JSON in leaflet
         L.geoJson(collection,
      {
        onEachFeature: function(feature, layer)
          {
              var popupText = "Ident: " + feature.properties.ident
                  + "<br>Lon: " + feature.properties.lon
                  + "<br>Lat: " + feature.properties.lat
                  + "<br>Network: " + feature.properties.network
                  + "<br>Var: " + feature.properties.var + " " + feature.properties.val

		  + "<br><a href='/showdata/"+null2_(feature.properties.ident)+"/*/"+null2_(feature.properties.network)+"/*/*/*/stationdata"
		  + "'>All stations same ident and network</a>"

		  + "<br><a href='/showdata/*/*/"+null2_(feature.properties.network)+"/*/*/*/stationdata"
		  + "'>All stations same network</a>"

                  + "<br><a href='" + "{% url 'showdata:stationdata' '*' '*' '*' '*' '*' '*' %}" + "'>All stations</a>";
              layer.bindPopup(popupText);
          }
      }
        ).addTo(map);
	}
      })

      }

    </script>

    {% leaflet_map "spots" callback="window.map_init" %}



  <p style="text-align:right">
  <a href='
  {% url 'api:v2:stationdata' ident coords network trange level var %}
  '>Download data</a></p>

{% endblock %}
