{% extends "base.html" %}
{% load i18n %}

{% block extra_assets %}
{% endblock %}

{% block content %}

<h4>
{{vartxt}}<br>
{{trangetxt}}<br>
{{leveltxt}}<br>
{{datefrom}} - {{dateuntil}} GMT
</h4>

</div>

                     <div class="span3 offset2">{{less}}</div>
<div class="span3">{{previous}}</div>       <div class="span3 offset2"> {{next}}</div>
                     <div class="span3 offset2">{{more}}</div>
</div>

<p>
  <img src="/graphite/render/?target={{ ident }}.{{ undescored_coords }}.{{ network }}.{{ undescored_trange }}.{{ undescored_level }}.{{var}}&from={{ datefrom }}&until={{ dateuntil }}&hideLegend=true&tz=UTC&lineMode=connected&lineWidth=3&width=800&height=400" alt="graphic for {{var}}" class="img-thumbnail">
</p>

          <p><a class="btn btn-default" href="/graphite/composer/?target={{ ident }}.{{ undescored_coords }}.{{ network }}.{{ undescored_trange }}.{{ undescored_level }}.{{var}}" role="button">Graphite composer &raquo;</a></p>

  <p style="text-align:right">
  <a href='
{% if hour %}
  {% url 'api:v1:timeserieshourly' 'dbajson' ident coords network trange level var year month day hour %}
{% elif day %}
  {% url 'api:v1:timeseriesdaily' 'dbajson' ident coords network trange level var year month day %}
{% elif month %}
  {% url 'api:v1:timeseriesmonthly' 'dbajson' ident coords network trange level var year month %}
{% elif year %}
  {% url 'api:v1:timeseriesyearly' 'dbajson' ident coords network trange level var year %}
{% endif %}
  '>Download data</a></p>

{% endblock %}
