{% extends "base.html" %}
{% load i18n %}

{% block content %}
 
  <section id="main_content">

    <h2 id="striped-rows">{% trans 'Network' %}</h2>

    <div class="table-responsive">
      <table class="table">
	<thead  class="thead-default">
	<tr>
	  <th>{% trans 'Short name' %}</th>
	  <th>{% trans 'Description' %}</th>
	  <th>{% trans 'Provider' %}</th>
	  <th>{% trans 'Licenze' %}</th>
	</tr>
	</thead>
        {% for network in object_list %}
	    <tr>
              <td> <a href="{% url 'networkmetadata-list' %}{{ network.name}}">{{ network.name }}</a> </td>
	      <td> {{ network.description }}</td>
	      <td> <a href="{{ network.provider_url }}">{{ network.provider }}</a></td>
	      <td> <a href="{{ network.licenze_url }}">{{ network.licenze }}</a></td>
	    </tr>
	{% empty %}
	     <tr>
	       <td>{% trans 'No network yet.' %}</td>
	    </tr>
        {% endfor %}
      </table>
    </div>
  </section>

{% endblock %}
