{% extends "base.html" %}

{% load static %}

{% block title %}Borinud{% endblock %}

{% block content %}
<div id="content">
</div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<!--script src="http://code.jquery.com/jquery-2.0.2.js"></script-->
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.time.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.selection.js"></script>
<script src="http://www.flotcharts.org/flot/jquery.flot.resize.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.61.0-2013.06.06/jquery.blockUI.min.js"></script>
<script src="{% static 'borinud/borinud-client.js' %}"></script>
<script src="{% static 'borinud/borinud.B.js' %}"></script>
<script src="{% static 'borinud/borinud.level.js' %} "></script>
<script src="{% static 'borinud/borinud.trange.js' %}"></script>
<script>
$(document).ready(function() {
    borinud.config.root_el = "#content";
    borinud.config.ajax.baseUrl = "api/v1/geojson";
    borinud.config.ajax.dataType = "json";
    borinud.init();
});
</script>
{% endblock %}
