{% extends "base.html" %}
{% load i18n %}

{% block content %}

<section id="main_content">

<h2>{% trans 'Station name' %}: {{ object.name }}</h2>

<div class="table-responsive">
<table class="table">
<tr>
<th> {% trans 'Active' %}         </th>
<th> {% trans 'Ident' %}          </th>
<th> {% trans 'Lat' %}            </th>
<th> {% trans 'Lon' %}            </th>
<th> {% trans 'Category' %}       </th>
<th> {% trans 'View on the map' %}</th>
</tr>

<tr>
  <td> 
    {% if object.active %}
      <i class="fa fa-check "></i>
    {% else %}
      <i class="fa fa-times "></i>
    {% endif %}
  </td>
<td> {{ object.ident }}   </td>
<td> {{ object.lat }}     </td>
<td> {{ object.lon }}     </td>
<td> {{ object.category }}</td>
<td> <a href="/stationsonmap/{{ object.ident }}/{{ object.slug }}">{{ object.slug }}</a></td>
</tr>
</table>
</div>

<p><h3> <a href="/delstation/{{ object.ident }}/{{ object.slug }}">{% trans 'Delete' %} {{ object.slug }}</a></h3></p>

<h2 id="striped-rows">{% trans 'Display graph' %}</h2>

    <div class="container-fluid">
      <div class="row">
{% for board in object.board_set.all %}
  {% if board.active  %}
    {% for sensor in board.sensor_set.all %}
      {% if sensor.active  %}
      <h3>{% trans 'Board name' %}: {{ board.name }}</h3>
      <h4>{% trans 'Variable' %}: {{ sensor.name }}</h4>
     <div class="col-md-6">
	  <h5><span class="bv aig"></span>{% trans 'Observation' %}</h5>
          <p><img src="http://graphite.{{ site.domain }}/render/?showTarget=report.{{ object.ident }}.{{ object.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v&target=report.{{ object.ident }}.{{ object.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v&width=586&height=308&_salt=1457007175.149" alt="..." class="img-thumbnail"></p>
          <p><a class="btn btn-default" href="http://graphite.{{ site.domain }}/graphlot/?target=report.{{ object.ident }}.{{ object.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v" role="button">Graphite &raquo;</a></p>
     </div>
     <div class="col-md-6">
	  <h5><span class="bv aig"></span>{% trans 'Sample' %}</h5>
          <p><img src="http://graphite.{{ site.domain }}/render/?showTarget=rmap.{{ object.ident }}.{{ object.lon_lat }}.rmap.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.*.v&target=rmap.{{ object.ident }}.{{ object.lon_lat }}.rmap.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.*.v&width=586&height=308&_salt=1457007175.148" alt="..." class="img-thumbnail"></p>
          <p><a class="btn btn-default" href="http://graphite.{{ site.domain }}/graphlot/?target=rmap.{{ object.ident }}.{{ object.lon_lat }}.rmap.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.*.v" role="button">Graphite &raquo;</a></p>
     </div>

      {% endif %}
   {% endfor %}
       </div>
 {% endif %}
{% endfor %}
       </div>
</section>

{% endblock %}
