{% extends "base.html" %}
{% load i18n %}

{% block content %}

<section id="main_content">

<h2><a href="{% url 'stationsonmap' object.ident %}">{% trans 'View on the map' %}</a></h2>

<h2>{% trans 'Station name' %}: {{ object.name }}</h2>

<table border="1">
<tr>
<th> {% trans 'Active' %}         </th>
<th> {% trans 'Ident' %}          </th>
<th> {% trans 'Lat' %}            </th>
<th> {% trans 'Lon' %}            </th>
<th> {% trans 'Category' %}       </th>
<th> {% trans 'View on the map' %}</th>
</tr>

<tr>
<td> {{ object.active }}  </td>
<td> {{ object.ident }}   </td>
<td> {{ object.lat }}     </td>
<td> {{ object.lon }}     </td>
<td> {{ object.category }}</td>
<td> <a href="/stationsonmap/{{ object.ident }}/{{ object.slug }}">{{ object.slug }}</a></td>
</tr>
</table>

<h2>{% trans 'Display graph' %}</h2>
<table border="1">

<tr>
<th>{% trans 'Board name' %}</th>
<th>{% trans 'Variable' %}</th>
<th>{% trans 'Report' %}</th>
<th>{% trans 'Sample' %}</th>
</tr>
{% for board in object.board_set.all %}
  {% if board.active  %}
    {% for sensor in board.sensor_set.all %}
      <tr><td>{{ board.name }}</td>
      {% if sensor.active  %}
        <td>
	  {{ sensor.name }} 
        </td>
        <td>
	  <a href=http://graphite.{{ site.domain }}/graphlot/?target=report.{{ object.ident }}.{{ object.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v><img src="http://graphite.{{ site.domain }}/render/?width=250&height=150&hideLegend=true&areaMode=stacked&graphOnly=true&target=report.{{ object.ident }}.{{ object.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v" alt="{{ sensor.name }} graph"></a> 
        </td>
        <td>
	  <a href=http://graphite.{{ site.domain }}/graphlot/?target=rmap.{{ object.ident }}.{{ object.lon_lat }}.rmap.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.*.v><img src="http://graphite.{{ site.domain }}/render/?width=250&height=150&hideLegend=true&areaMode=stacked&graphOnly=true&target=rmap.{{ object.ident }}.{{ object.lon_lat }}.rmap.{{ sensor.underscored_timerange}}.{{ sensor.underscored_level}}.*.v" alt="{{ sensor.name }} graph"></a> 
        </td>
      {% endif %}
    </tr>
   {% endfor %}
 {% endif %}
{% endfor %}

</table>
</section>

{% endblock %}
