{% load staticfiles %}
<header id="myCarousel" class="carousel slide ">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('{% static "rainbo/img/landing_page/cloud.jpg" %}');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('{% static "rainbo/img/landing_page/rainbow.jpg" %}');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
        <div class="fill" style="background-image:url('{% static "rainbo/img/landing_page/temp.jpg" %}');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
        <div class="fill" style="background-image:url('{% static "rainbo/img/landing_page/wind.jpg" %} ');"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
        <div class="fill" style="background-image:url('{% static "rainbo/img/landing_page/snow.jpg" %}');"></div>
            <div class="carousel-caption">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
