{% load i18n %}     
{% load static %}
<section id="benvenuto">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{% trans "Welcome"%}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="container welcome-div">
<br>
{% trans "Welcome to Rmap4RainBO crowdsourcing application developed by <a target='_blank' href='http://www.meeo.it/wp/?lang=en'>MEEO S.r.l</a>, in the <a target='_blank' href='https://www.rainbolife.eu/'>RainBO LIFE project</a>, in collaboration with <a target='_blank' href='https://www.arpae.it/'>ARPAE</a> starting from the <a target='_blank' href='http://rmap.cc/'>Rmap</a> application" %}
<br><br>
{% trans "The purpose is to involve citizens in uploading the observed meteorological phenomenon (section 'PARTICIPATE/Add present weather'), giving priority to the most significant events (tornado, thunderstorm, heavy rain, etc.), in order to share ('SHOW DATA' section) information updated in real time and distributed throughout the territory, as if the territory was covered by a dense network of sensors on the present weather " %}.
<br><br>
{% trans "The Rmap4RainBO application is moreover an experimental platform addressing citizens and institutions with the aim to gather feedback on the territory in terms of observed  impacts (section 'IMPACT / Add Impact') due to hydraulic hydrogeological weather events (eg floods, fallen trees or icy road). The impact codification, so far considered in the present application, has been defined within the project, since any code of them has not yet been found at regional or national level, but it can obviously be reviewed and updated after further comparisons with the competent institutions. The goal is to start building a database of historical data on the recorded impacts in order to correlate them to regional meteorological alerts. The weather phenomena codification is based on the <a target='_blank' href='https://www.wmo.int/pages/index_en.html'>WMO – World Meteorological Organization</a> standards." %}

<br><br>
{% trans "The visualization of the geolocation information ('SHOW DATA' section) is useful to understand where significant phenomena are occurring and what damages have been reported on the interested area." %}

<br><br>
{% trans "To access the section 'PARTICIPATE' you need to log in after a registration that requires username, password and email address." %}

<br><br>
{% trans "At <a target='_blank' href='https://www.rainbolife.eu/node/72'>this link</a>, a quick user guide for the present web application is available." %}

<br><br><br>
{% trans "Thanks for your partecipation!" %}

<br><br> 
{% trans "The RainBO Staff" %}
        </div>
   </div>
</section>
