{% load i18n %}
{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">{% trans "Thunderstorm" %}</h2>
                        <hr class="star-primary">
                         <br><br><b>{% trans "Definition" %}:</b> 
			 {% trans " When one or more abrupt discharges of electricity occur with a short and intense glow (lightning) and with a dry rumble or a dull rumble (thunder). Thunderstorms develop more frequently between the months of April and October." %}
                        <br><br>
			{% trans "The observed thunderstorms could be"%}:
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/192.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
			    <div class="col-lg-9 col-xs-8"> <b>{% trans "weak or moderate with rain"%}</b>, {% trans "if not intense and without hail, with thunder in the distance" %}</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/193.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>{% trans "weak or moderate with hail"%}</b>, {% trans "if not intense but with hail, low intensity and with not well audible thunders" %}</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/195.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>{% trans "heavy with rain" %}</b>, {% trans "with heavy rainfall, accompanied by intense wind in general, lightning and thunder very audible and high intensity" %}</div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/196.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>{% trans "heavy with hail" %}</b>, {% trans "as described above, but with hail instead of rain" %}</div>
                        </div>
                        <br><br><b>{% trans "Comment" %}:</b> 
			{% trans "Thunderstorms are associated with convective clouds and are often accompanied by precipitations which, when they reach the earth's surface, are in the form of rain showers, snow, round snow, hail, often associated with strong gusts of wind." %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
