{% load i18n %}
{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
                        <h2 class="text-center">{% trans "Rain" %}</h2>
                        <hr class="star-primary">
                        <br><br><b>{% trans "Definition" %}:</b> {% trans "The intensity of a liquid precipitation is measured in mm per hour and corresponds to the quantity of drops that reach the ground: more dense are drops, more intense is the precipitation." %}
                        <br><br>
                        {% trans "Referring to the official meteorology classification:" %}
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/150.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
			    <div class="col-lg-9 col-xs-8">  <b>{% trans "drizzle" %}</b>, {% trans " intensity lesser than 1 mm/h" %} </div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/160.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>{% trans "rain, from weak to heavy" %}</b>, {% trans "intensity is between 1 and 10 mm/h" %} </div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/165.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>{% trans "freezing on the ground" %}</b> {% trans "when temperatures reach zero and precipitation takes on a snow character" %} </div>
                        </div>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/184.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>          
                            <div class="col-lg-9 col-xs-8"> <b>{% trans "very heavy rain" %}</b>, {% trans "intensity is over 50 mm/h" %}</div>
                        </div>
                        <br><br><b>{% trans "Comment" %}:</b> {% trans "The intensity of a liquid precipitation is measured in mm per hour (mm / h) and corresponds to the quantity of drops that reach the ground: more dense are drops, more intense is the precipitation." %}  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
