{% load i18n %}
{% load staticfiles %}
<!--Details for s-->
<div class="services-modal modal fade" id="servicesModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content modal-dialog modal-lg" data-dismiss="modal">
        <div>
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body text-justify">
			    <h2 class="text-center">{% trans "Tornado"%}</h2>
                        <hr class="star-primary">
                        <br><br>
                        <div class="row description">
                            <div class="col-lg-2 col-lg-offset-1 col-xs-4">
                                    <img src="{% static 'rainbo/img/icons/199.png' %}" class="img-responsive center-block landing-img" alt="">
                            </div>            
                            <div class="col-lg-9 col-xs-8"> <b class="text-center">{% trans "Tornado"%}</b>
                                <br><br><b>{% trans "Definition" %}:</b> 
				
				{% trans "This phenomenon consists of a wind turbidity that is often violent, revealed by the presence of a kind of tube or inverted cone (funnel cloud) hanging from the base of a Cumulonimbus (special tuba) and from a 'head' consisting of water droplets raised from the surface of the sea or dust, sand or debris raised off the ground surface." %} 
                                <br> <br> <b> {% trans "Comment" %}: </b> 
                               {% trans "the axis of the funnel cloud is vertical, inclined or sometimes sinuous. Not surprisingly, the funnel merges with the tuft. The air in the turbine rotates rapidly, very often in a cyclonic sense; a rapid rotary movement can also to be observed outside the funnel and the 'head'. Furthest, the air is often very calm." %}
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
