<!DOCTYPE HTML>
{% load i18n %}
{% load cookielaw_tags %}
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include 'rainbo/home_title.html' %}

    {% include 'rainbo/base_service/base_service_css.html' %}
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block extra_assets %}{% endblock %}


</head>

<body  class="bg-primary">

    <div id="wrapper" class="text-muted">

        <!-- Navigation -->
        {% include 'rainbo/base_service/section_service_nav.html' %}
        
        <!-- Sidebar left -->
        {% comment %} 
        {% include 'rainbo/base_service/section_service_sidebar.html' %}
        {% endcomment %}
    

        <div id="page-wrapper">
            {% block container %}
            {% endblock %}
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
 
    </div>
    <!-- /#wrapper -->

    {% include 'rainbo/base_service/base_service_js.html' %}
    
    {% block service_js_container %}
    {% endblock %}

</body>

</html>
