{% load staticfiles %}
<!-- Load external library and framework -->
<!-- jQuery an JQuery-UI-->
<!--script src="{% static 'rainbo/js/lib/jquery.js' %}"></script-->
<script src="{% static 'rainbo/js/lib/jquery.min.js' %}"></script>
<script src="{% static 'rainbo/js/lib/jquery-ui.min.js' %}"></script>


<!-- Custom Rainbo JavaScript -->
<script src="{% static 'rainbo/js/rainbo/insertdata.js' %}"></script>
<script src="{% static 'rainbo/js/rainbo/rainbo_utils.js' %}"></script>


<!-- Bootstrap Core JavaScript -->
<script src="{% static 'rainbo/js/lib/bootstrap.min.js' %}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static 'rainbo/js/lib/jqBootstrapValidation.js' %}"></script>

<!-- openlayers3 -->
<script src="http://openlayers.org/en/v3.15.1/build/ol.js"></script>

<!-- DataTables -->
<script src="{% static 'rainbo/js/lib/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'rainbo/js/lib/dataTables.bootstrap.min.js' %}"></script>


<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> 
<!--link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" /> 
<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js?2"></script-->

<script src="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.js"></script>
