{% load staticfiles %}
<!-- JQuery-ui Core CSS 
<link href="{% static 'rainbo/css/jquery-ui.min.css' %}" rel="stylesheet">-->
<!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
<link href="{% static 'rainbo/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'rainbo/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">

<!-- Openlayers3 -->
<link href="http://openlayers.org/en/v3.15.1/css/ol.css" rel="stylesheet" type="text/css">

<!-- Custom CSS -->
<link href="{% static 'rainbo/css/base_service.css' %}" rel="stylesheet" type="text/css">

<!-- Custom Fonts -->
<link href="{% static 'rainbo/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- MetisMenu CSS -->
<link href="{% static 'rainbo/css/metisMenu.min.css' %}" rel="stylesheet" type="text/css">

<!-- Timeline CSS -->
<link href="{% static 'rainbo/css/timeline.css' %}" rel="stylesheet" type="text/css">

<!-- DataTables -->
<link href="{% static 'rainbo/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'rainbo/css/jquery.dataTables.css' %}" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="https://unpkg.com/leaflet-easybutton@2.0.0/src/easy-button.css">
