<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-pencil-square-o"></i>  Partecipa <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li class="page-scroll">
            <a href="/insertdata/manualdata">
                <i class="fa fa-pencil-square-o"></i>  Aggiungi Tempo Presente
            </a>
        </li>	
            
        <li class="page-scroll">
            <a href="/insertdata/impactdata">
                <i class="fa fa-pencil-square-o"></i>  Aggiungi Impatto
            </a>
        </li> 
    </ul>
</li>
