{% load i18n %}
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bar-chart"></i>  {% trans "Show" %} <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li class="page-scroll">
            <a id="visibility_spatial_series" href="">
                <i class="fa fa-bar-chart"></i>  {% trans "Visibility Data" %}
            </a>
        </li>
        <li class="page-scroll">
            <a id="rain_spatial_series" href="">
                <i class="fa fa-bar-chart"></i> {% trans "Rain Data" %}
            </a>
        </li>   
        <li class="page-scroll">
            <a id="snow_spatial_series"href="">
                <i class="fa fa-bar-chart"></i>  {% trans "Snow Data" %}
            </a>
        </li>
	<li class="page-scroll">
            <a id="thunderstorm_spatial_series"href="">
                <i class="fa fa-bar-chart"></i>  {% trans "Thunderstorm Data" %}
            </a>
        </li>
        <li class="page-scroll">
            <a id="tornado_spatial_series" href="">
                <i class="fa fa-bar-chart"></i>  {% trans "Tornado Data" %}
            </a>
        </li>
	<li class="page-scroll">
            <a id="damage_spatial_series" href="">
                <i class="fa fa-bar-chart"></i>  {% trans "Impact Data" %}
            </a>
        </li>
    </ul>
</li>
