<footer class="text-center">
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Web Services By <a target="_blank" href="http://www.meeo.it/wp/">MEEO</a> 2016&copy; <br>
                    {% comment %}
                    Theme derived from <a target="_blank" href="http://startbootstrap.com/template-overviews/freelancer/">Start Bootstrap</a>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</footer>
 
