<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bar-chart"></i>  Visualizza <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li class="page-scroll">
            <a id="rain_spatial_series" href="">
                <i class="fa fa-bar-chart"></i>  Dati Pioggia
            </a>
        </li>   
            
        <li class="page-scroll">
            <a id="thunderstorm_spatial_series"href="">
                <i class="fa fa-bar-chart"></i>  Dati Temporali
            </a>
        </li> 
        <li class="page-scroll">
            <a id="snow_spatial_series"href="">
                <i class="fa fa-bar-chart"></i>  Dati Neve
            </a>
        </li>
        
        <li class="page-scroll">
            <a id="visibility_spatial_series" href="">
                <i class="fa fa-bar-chart"></i>  Dati Visibilità
            </a>
        </li>
        
        <li class="page-scroll">
            <a id="tornado_spatial_series" href="">
                <i class="fa fa-bar-chart"></i>  Dati Tromba d'aria
            </a>
        </li>

	<li class="page-scroll">
            <a id="damage_spatial_series" href="">
                <i class="fa fa-bar-chart"></i>  Dati Impatto 
            </a>
        </li>
    </ul>
</li>
