<!DOCTYPE html>
<html lang="en">
<head>
    <!--link rel="stylesheet" href="/static/style.css" /-->
    <link rel="shortcut icon" href="/static/rmap/rmap.ico">
    <title>
      
        RMAP
      
    </title>

    <script src="../static/rmap/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../static/rmap/libs/bootstrap/3.3.6/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="../static/rmap/libs/bootstrap/3.3.6/css/logo_bar.css"  >
    <link rel="stylesheet" type="text/css" href="../static/rmap/libs/bootstrap/3.3.6/css/docs.min.css"  >

    <!-- Custom styles for this template -->
    <script src="../static/rmap/libs/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{
    background: #333;
}
/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* Custom navbar */
.navbar-brand ,.navbar-nav>li>a {
  	padding-left: 30px;
    padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
} 
.navbar-nav>.active>a {
	opacity:.6;
}
</style>
</head>
<body>
<div class="container-full">
      
      <div class="navbar navbar-default">
         <div class="navbar-header">
          <a class="navbar-brand" href="#">Brand</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#">More</a></li>
          <li><a href="#">Options</a></li>
        </ul>
      </div>

      <div class="jumbotron text-center">
	<img class="image img-responsive" src="../static/rmap/img_01.png">
        <h1>R m a p</h1>
        <p class="lead">Rete di Monitoraggio Ambientale Partecipativo</p>
        <p><a class="btn btn-large btn-primary" href="http://rmap.cc" target="ext">Entra</a></p>
      </div>

     <div class="container">	
      <div class="row">
        <div class="col-lg-6">
	<img class="image img-responsive" src="../static/rmap/img_04.png">
          <h4>Mobile First</h4>
          <p>Responsive by default, and a clean "flat" design.</p>

          <h4>Powerful Grid</h4>
          <p>3 responsive grid sizes to control the grid layout on tiny, small and large displays.</p>
        </div>

        <div class="col-lg-6">
	<img class="image img-responsive" src="../static/rmap/img_03.png">
          <h4>New Elements</h4>
          <p>New panels, list groups, glyphicons and justified navigation.</p>

          <h4>Less Bloat</h4>
          <p>The optimized CSS is in a single file. Glyphicons are now separate.</p>
        </div>
      </div>
      </div>
  
  	  <hr>
  
  	  <div class="jumbotron text-center">
	<img class="image img-responsive" src="../static/rmap/img_05.png">
        <h1>Moving from Bootstrap 2.x to 3.0</h1>
        <p class="lead">Everything has changed, so you can't just replace the 2.x with the 3.0 files. The folks at Bootply, the Bootstrap Playground have created a migration guide to help.</p>
        <p><a class="btn btn-large btn-success" href="http://www.bootply.com/bootstrap-3-migration-guide" target="ext">Migration Guide</a></p>
      </div>

</div>
</body>
</html>
