{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
    <section id="main_content">

      <p><h3>{{ ident}} {% trans 'Here your personal data details' %}</h3></p>

<h2 id="striped-rows">{% trans 'Station name' %}: {{ mystation.name }}</h2>
<div class="table-responsive">
<table class="table">
<thead class="thead-default">
<tr>
<th> {% trans 'Active' %} </td>   </td>
<th> {% trans 'Ident' %} </td>    </td>
<th> {% trans 'Lat' %} </td>      </td>
<th> {% trans 'Lon' %} </td>      </td>
<th> {% trans 'Locate' %} </td>      </td>
<th> {% trans 'Category' %} </td> </td>
</tr>

<tr>
<td> 
{% if mystation.active %} 
 <img src="../../../static/rmap/true.svg" alt="true" class="img-responsive" style="max-width: 25px;"> 
{% else %}
 <img src="../../../static/rmap/false.svg" alt="false" class="img-responsive" style="max-width: 25px;"> 
{% endif %}
</td>
<td> {{ mystation.ident }}   </td>
<td> {{ mystation.lat }}     </td>
<td> {{ mystation.lon }}     </td>
<td><a href=../../../stationsonmap/{{ mystation.ident }}/{{ mystation.slug}}/><img src="../../../static/rmap/location_icon.svg" alt="location icon" class="img-responsive" style="max-width: 30px;"></a></td>
<td> {{ mystation.category }}</td>
</tr>
</table>

<h2 id="striped-rows">{% trans 'Display graph' %}</h2>
     <div class="container-fluid">
      <div class="row">
{% for board in mystation.board_set.all %}
  {% if board.active  %}
    {% for sensor in board.sensor_set.all %}
      <h3>{{ board.name }}</h3>
    {% if sensor.active  %}
	  <h4><span class="bv aig"></span>{{ sensor.name }}</h4>
     <div class="col-md-6">
	  <h5><span class="bv aig"></span>Report</h5>
          <p><img src="http://graphite.{{ site.domain }}/render/?showTarget=report.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v&target=report.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v&width=586&height=308&_salt=1457007175.147" alt="..." class="img-thumbnail"></p>
          <p><a class="btn btn-default" href="http://graphite.{{ site.domain }}/graphlot/?target=report.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v" role="button">Graphite &raquo;</a></p>
     </div>
     <div class="col-md-6">
	  <h5><span class="bv aig"></span>Sample</h5>
          <p><img src="http://graphite.{{ site.domain }}/render/?showTarget=rmap.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.*.v&target=rmap.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.*.v&width=586&height=308&_salt=1457007175.147" alt="..." class="img-thumbnail"></p>
          <p><a class="btn btn-default" href="http://graphite.{{ site.domain }}/graphlot/?target=rmap.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.*.v" role="button">Graphite &raquo;</a></p>
     </div>

    {% endif %}
  {% endfor %}
       </div>
 {% endif %}
{% endfor %}
       </div>
    </section>

{% endblock %}

