{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
<section id="main_content">

  <p><h3>{{ ident}} {% trans 'Here your personal data' %}</h3></p>
  <p><a href= {% url 'geoimage-ident' ident %}> {% trans "Your images" %}</a></p> 
  <ul>

    <table border="1">
      <tr>
	<th>Short name</th>
	<th>Active</th>
	<th>Ident</th>
	<th>Lat</th>
	<th>Lon</th>
	<th>Category</th>
      </tr>

      {% for station in  stations %}
        <tr>
	  <td><a href=/accounts/profile/{{ station.slug }}>{% trans 'Station name' %}: {{ station.name }}</a></td>
	  <td> {{ station.active }} </td>
	  <td> {{ station.ident }} </td>
	  <td> {{ station.lat }} </td>
	  <td> {{ station.lon }} </td>
	  <td> {{ station.category }} </td>
	</tr>
      {% empty %}
        <li>{% trans 'No station yet.' %}</li>
      {% endfor %}
    </table>
  </ul> 
</section>

{% endblock %}

