{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
    <section id="main_content">

      <p><h3>Here your personal data</h3></p>
      <p>

<h2>{% trans 'Station name' %}: {{ mystation.name }}</h2>
<table border="1">

<tr><td> Active </td>   <td> {{ mystation.active }} </td></tr>
<tr><td> Ident </td>    <td> {{ mystation.ident }} </td></tr>
<tr><td> Lat </td>      <td> {{ mystation.lat }} </td></tr>
<tr><td> Lon </td>      <td> {{ mystation.lon }} </td></tr>
<tr><td> Category </td> <td> {{ mystation.category }} </td></tr>

</table>

<h2>{% trans 'Display graph' %}</h2>
<table border="1">

<tr>
<th>{% trans 'Board name' %}</th>
<th>{% trans 'Variable' %}</th>
<th>{% trans 'Report' %}</th>
<th>{% trans 'Sample' %}</th>
</tr>
{% trans 'access to site' %}: http://{{ site.domain }}/
{% for board in mystation.board_set.all %}
  {% if board.active  %}
    <tr><td>{{ board.name }}</td>
    {% for sensor in board.sensor_set.all %}
    {% if sensor.active  %}
      <td>
	{{ sensor.name }} 
      </td>
      <td>
	<a href=http://graphite.{{ site.domain }}/graphlot/?target=report.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v><img src="http://graphite.{{ site.domain }}/render/?width=250&height=150&hideLegend=true&areaMode=stacked&graphOnly=true&target=report.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v" alt="{{ sensor.name }} graph"></a> 
      </td>
      <td>
	<a href=http://graphite.{{ site.domain }}/graphlot/?target=rmap.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.*.v><img src="http://graphite.{{ site.domain }}/render/?width=250&height=150&hideLegend=true&areaMode=stacked&graphOnly=true&target=rmap.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.{{ sensor.underscored_timerange}}.{{ sensor.underscored_level}}.*.v" alt="{{ sensor.name }} graph"></a> 
      </td>
    {% endif %}
  {% endfor %}
  </tr>
  {% endif %}
{% endfor %}

</table>

      </p>

    </section>

{% endblock %}

