{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
    <section id="main_content">

      <p><h3>{{ ident}} {% trans 'Here your personal data details' %}</h3></p>

<h2>{% trans 'Station name' %}: {{ mystation.name }}</h2>
<table border="1">

<tr>
<td> {% trans 'Active' %} </td>   </td>
<td> {% trans 'Ident' %} </td>    </td>
<td> {% trans 'Lat' %} </td>      </td>
<td> {% trans 'Lon' %} </td>      </td>
<td> {% trans 'Category' %} </td> </td>
</tr>

<tr>
<td> {{ mystation.active }}  </td>
<td> {{ mystation.ident }}   </td>
<td> {{ mystation.lat }}     </td>
<td> {{ mystation.lon }}     </td>
<td> {{ mystation.category }}</td>
</tr>
</table>

<h2>{% trans 'Display graph' %}</h2>
<table border="1">

<tr>
<th>{% trans 'Board name' %}</th>
<th>{% trans 'Variable' %}</th>
<th>{% trans 'Report' %}</th>
<th>{% trans 'Sample' %}</th>
</tr>
{% for board in mystation.board_set.all %}
  {% if board.active  %}
    {% for sensor in board.sensor_set.all %}
    <tr><td>{{ board.name }}</td>
    {% if sensor.active  %}
      <td>
	{{ sensor.name }} 
      </td>
      <td>
	<a href=http://graphite.{{ site.domain }}/graphlot/?target=report.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v><img src="http://graphite.{{ site.domain }}/render/?width=250&height=150&hideLegend=true&areaMode=stacked&graphOnly=true&target=report.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.0_0_60.{{ sensor.underscored_level}}.*.v" alt="{{ sensor.name }} graph"></a> 
      </td>
      <td>
	<a href=http://graphite.{{ site.domain }}/graphlot/?target=rmap.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.*.v><img src="http://graphite.{{ site.domain }}/render/?width=250&height=150&hideLegend=true&areaMode=stacked&graphOnly=true&target=rmap.{{ mystation.ident }}.{{ mystation.lon_lat }}.rmap.{{ sensor.underscored_timerange}}.{{ sensor.underscored_level}}.*.v" alt="{{ sensor.name }} graph"></a> 
      </td>
    {% endif %}
    </tr>
  {% endfor %}
 {% endif %}
{% endfor %}

</table>

    </section>

{% endblock %}

