{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if invalid  %}
<div class="alert alert-warning" role="alert">{% trans 'Invalid data; retry' %}</div>
{% endif %}

{% if error  %}
<div class="alert alert-danger" role="alert">{% trans 'Error on publish data; retry' %}</div>
{% endif %}

{% if saved  %}
<div class="alert alert-warning" role="alert">
  {% trans 'Board chage completed successfully' %}:<br>
</div>


{% endif %}


<h3 id="striped-rows">{% trans 'Station' %} <a href=  {% url 'insertdata-stationmodify' station.slug  %} >{{ station.name }}</a></h3>
<div class="table-responsive">
    <h3 id="striped-rows"><a href={% url 'profile' %}>{% trans 'Cancel' %}</a> </h3>
    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
      <div class="form-group">      
	<h3 class="blockquote text-left">{% trans 'Board' %} {{ board.name }}</h3>
	{{ boardform.as_p }}
      </div>
      <div class="form-group">
	<h3 class="blockquote text-left">{% trans 'Sensor' %}</h3>      
	{{ sensorformset.as_p }}
      </div>
      <div class="form-group">
	<h3 class="blockquote text-left">{% trans 'Transport MQTT' %}</h3>      
	{{ transportmqttformset.as_p }}
      </div>
      <div class="form-group">
	<h3 class="blockquote text-left">{% trans 'Transport TCPIP' %}</h3>      
	{{ transporttcpipformset.as_p }}
      </div>
      <div class="form-group">
	<h3 class="blockquote text-left">{% trans 'Transport CAN' %}</h3>      
	{{ transportcanformset.as_p }}
      </div>
      <div class="form-group">
	<h3 class="blockquote text-left">{% trans 'Transport AMQP' %}</h3>      
	{{ transportamqpformset.as_p }}
      </div>
      <p class="blockquote text-center">
	<input type="submit" value={%trans "Submit" %} class="btn">
      </p>
    </form>
</div>
{% endblock %}
