{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

{% block extra_assets %}
  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}
{% endblock %}

{% block content %}

{% if invalid  %}
<div class="alert alert-warning" role="alert">{% trans 'Invalid data; retry' %}</div>
{% endif %}

{% if error  %}
<div class="alert alert-danger" role="alert">{% trans 'Error on publish data; retry' %}</div>
{% endif %}

<h3 id="striped-rows">{% trans 'Select coordinate from address' %}</h3>
<div class="table-responsive">
    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
     <table class="table">
        {{ nominatimform.as_p }}
     </table>
     <input type="submit" value={%trans "Select" %} class="btn">
    </form>
</div>



<h3 id="striped-rows">{% trans 'Select coordinate from map and insert your new station' %}</h3>
<div class="table-responsive">
    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
        {{ newstationform.as_p }}
     <input type="submit" value={%trans "Submit" %} class="btn">
    </form>
</div>
{% endblock %}
