{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if invalid  %}
<div class="alert alert-warning" role="alert">{% trans 'Invalid data; retry' %}</div>
{% endif %}

{% if error  %}
<div class="alert alert-danger" role="alert">{% trans 'Error on publish data; retry' %}</div>
{% endif %}

{% if station  %}
<div class="alert alert-warning" role="alert">
  {% trans 'Station insert completed successfully' %}:<br>
  {% trans 'Name' %}: {{station.name }}<br>
  {% trans 'Slug' %}: {{ station.slug }}<br>
  {% trans 'Longitude' %}: {{ station.lon }}<br>
  {% trans 'Latitude' %}: {{ station.lat }}<br>
</div>


{% endif %}


<h3 id="striped-rows">{% trans 'Insert/Modify your new station' %}</h3>
<div class="table-responsive">
    <h3 id="striped-rows"><a href={% url 'stationmetadata-list' %}>{% trans 'Cancel' %}</a> </h3>
    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
        {{ newstationdetailform.as_p }}
     <input type="submit" value={%trans "Submit" %} class="btn">
    </form>
</div>
{% endblock %}
