{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if invalid  %}
<div class="alert alert-warning" role="alert">{% trans 'Invalid data; retry' %}</div>
{% endif %}

{% if error  %}
<div class="alert alert-danger" role="alert">{% trans 'Error on publish data; retry' %}</div>
{% endif %}

{% if saved  %}
<div class="alert alert-warning" role="alert">
  {% trans 'Station chage completed successfully' %}:<br>
</div>


{% endif %}


<h3 id="striped-rows">{% trans 'Modify station' %} <a href=  {% url 'profile-details' station.slug  %} >{{ station.name }}</a></h3>
<h3 id="striped-rows"><a href={% url 'profile' %}>{% trans 'Cancel' %}</a> </h3>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
	<th>{% trans 'Modify boards'%}:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	{% for board in station.board_set.all %}
        <td> 
	  <a class="btn btn-default" href=  {% url 'insertdata-boardmodify' station.slug board.slug %} role="button">{{board.name}} &raquo;</a>
	</td>
	{% endfor %}
      </tr>
    </tbody>
  </table>  
</div>


<div class="table-responsive">
  <form enctype="multipart/form-data" method="POST">{% csrf_token %}
    <div class="tab-content">

      <ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#stationmetadataform">Station</a></li>
	<li><a data-toggle="tab" href="#constantformset">Constant station data</a></li>
      </ul>

      <div id="stationmetadataform" class="tab-pane fade in active">      	
	<div class="form-group">      
	  <h3 class="blockquote text-left">{% trans 'Modify station' %}</h3>      
	  <table class="table table-bordered">
	    {{ stationmetadataform.as_table }}
      	  </table>
	</div>
      </div>
      
      <div id="constantformset" class="tab-pane fade">      	
	<div class="form-group">      

	  <h3 class="blockquote text-left">{% trans 'Modify station constant data' %}</h3>      
	  {{ constantformset.management_form }}
	  {% for form in constantformset %}
	    <table class="table table-bordered">
	      <thead>
		<tr>
		  <th>{% trans 'Modify constant data'%}</th>
		</tr>
	      </thead>
	      <tbody>
		{{ form.as_table }}      
	      </tbody>
	    </table>
	  {% endfor %}
	</div>
      </div>
    </div>
    <input type="submit" value={%trans "Submit" %} class="btn">
  </form>
</div>

{% endblock %}
