{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<form class="form-signin" method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">{% trans 'Log in' %}</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
<div  class="row">
<div class="col-md-6 text-right">
{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}"><span class="label label-info">{% trans "Reset it" %}</span></a> 
</div>
<div class="col-md-6 text-left">
{% trans "Not a member?" %} <a href="{% url 'registration_register' %}"><span class="label label-primary">{% trans "Register" %}</span></a>
</div>
</div>
{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
