<!-- /.dropdown -->
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-question-circle fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a class="wec-checkbox" data-selected="true" data-callback="togglePopover"><i class="fa fa-question-circle fa-fw"></i> Help Tooltip</a>
        </li>
        <li class="divider"></li>
        <li>
            <a data-toggle="modal" data-target="#aboutModal"><i class="fa fa-info-circle fa-fw"></i> About</a>
        </li>
    </ul>
    <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->