{% load i18n %}
{% load cookielaw_tags %}

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

  <head>
    <!--link rel="stylesheet" href="{% static "style.css" %}" /-->
    <link rel="shortcut icon" href="{% static "rmap/rmap.ico" %}" />
    <title>
      {% block title %}
      RMAP
      {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "registration/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "registration/skin.css" %}">
    <script src="{% static "rmap/libs/jquery/2.1.1/jquery.min.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static "registration/navigation.css" %}">
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" type="text/css" href="{% static "fa/css/font-awesome.min.css" %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "rmap/libs/bootstrap/3.3.6/css/bootstrap.min.css" %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" >
    <link rel="stylesheet" type="text/css" href="{% static "rmap/libs/bootstrap/3.3.6/css/docs.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "rmap/libs/rmap/css/logo_bar.css" %}" >
    
    <!-- Custom styles for this template -->
    <script src="{% static "rmap/libs/bootstrap/3.3.6/js/bootstrap.min.js" %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" type="text/javascript"></script>
    <script src="{% static "cookielaw/js/cookielaw.js" %}" type="text/javascript"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block extra_assets %}{% endblock %}
    
  </head>
  <body>
    <div class="fill">
      <div class="container" >
	<div id="header" class="masterhead">
	  
	  {% block header %}
	  
	  <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="http://{{site.domain}}"><img src="/static/rmap/rmap-01.png" alt="RMAP logo"></a>
		<a class="navbar-brand" href="http://{{site.domain}}">Rmap</a>
	      </div>
              <div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
		  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-database"></i> {% trans "Data" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
		      <li><a href="http://{{site.domain}}/showdata/">{% trans "Maps and graph of main parameters" %}</a></li>
		      <li><a href="http://{{site.domain}}/borinud/">{% trans "Maps and graph for all parameters (old style)" %}</a></li>
		      <li><a href="http://{{site.domain}}/geoimage/">{% trans "Georeferenced image on a map" %}</a></li>
                      <li><a href="http://{{site.domain}}/graphite">{% trans "Graph with  Graphite" %}</a></li>
                      <li><a href="http://{{site.domain}}/graphite/dashboard/#rmap%20default">{% trans "Sample Dashboard" %}</a></li>
		      <li><a href="http://{{site.domain}}/arkiweb">{% trans "Extract historical data" %}</a></li>
 		    </ul>
		  </li>
		  <li class="dropdown">
                    <a href="http://{{site.domain}}/stations" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-tachometer"></i> {% trans "Stations" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
		      <li><a href="http://{{site.domain}}/stations">{% trans "Show RMAP stations" %}</a></li>
		      <li><a href="http://{{site.domain}}/showdata/-/*/*/*/*/*/stations">{% trans "Show all stations" %}</a></li>
		      {% if user.is_authenticated %}
		      <li><a href="http://{{site.domain}}/stationsonmap/{{ user.username }}">{% trans "Your RMAP stations" %} {{ user.username }}</a></li>
		      <li><a href="http://{{site.domain}}/showdata/{{ user.username }}/*/*/*/*/*/stations">{% trans "All your stations" %} {{ user.username }}</a></li>
		      {% endif %}
		    </ul>
		  </li>
		  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users fa-fw"></i> {% trans "Join us" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
		      <li><a href="http://{{site.domain}}/insertdata/newstation">{% trans "Register a new sation" %}</a></li>
		      <li><a href="http://{{site.domain}}/insertdata/manualdata">{% trans "Add manual data observations" %}</a></li>
		      <li><a href="http://{{site.domain}}/insertdata/image">{% trans "Add georeferenced image" %}</a></li>
		      <li><a href="https://play.google.com/store/apps/details?id=org.test.rmap">{% trans "Dowload RMAP App for Android" %}</a></li>
		      <li><a href="http://www.raspibo.org/wiki/index.php/Gruppo_Meteo/HowTo#Applicazione_Rmap">{% trans "Install RMAP App son other operative systems" %}</a></li>
		      <li><a href="http://{{site.domain}}/http2mqtt/">{% trans "Publish data on http for MQTT broker" %}</a></li>
		      <li><a href="http://liste.raspibo.org/wws/info/meteo">Mailing List</a></li>
		    </ul>
		  </li>
		  
		  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-book fa-fw"></i> {% trans "Documentation" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.raspibo.org/wiki/index.php/Gruppo_Meteo">{% trans "The project on RaspiBO site" %}</a></li>
                      <li><a href="http://www.raspibo.org/wiki/index.php/Gruppo_Meteo/RFC-rmap">Rmap standard RFC</a></li>
		    </ul>
		  </li>
		  
		  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-code fa-fw"></i> {% trans "Develop" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
		      <li><a href="http://www.raspibo.org/wiki/index.php/Gruppo_Meteo">{% trans "Overview" %}</a></li>
		      <li><a href="http://www.raspibo.org/wiki/index.php/Gruppo_Meteo/HowTo">HowTo</a></li>
		      <li><a href="https://github.com/r-map">Rmap at GitHub</a></li>
		      <li><a href="https://play.google.com/apps/testing/org.test.rmap">{% trans "Become beta tester for RMAP App for Android" %}</a></li>
		      <li><a href="http://rmapv.rmap.cc/repo/rmap/fedora/20/RPMS/arm/repoview/">Repository software Pidora (raspberry)</a></li>
		      <li><a href="http://{{site.domain}}/repo/rmap/fedora/20/SRPMS/repoview/">Repository software sorgenti</a></li>
		      <li><a href="http://{{site.domain}}/repo/rmap/fedora/20/RPMS/i386/repoview/">Repository software Fedora 20 i386</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">{% trans "Admin" %}</li>
                      <li><a href="http://{{site.domain}}:443/">{% trans "Manage processes" %}</a></li>
		      <li><a href="http://{{site.domain}}/admin">{% trans "Django admin" %}</a></li>
                      <li><a href="http://{{site.domain}}:15672/">{% trans "Rabbitmq admin" %}</a></li>
		    </ul>
		  </li>
		  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw"></i>&nbsp;
		      {% if user.is_authenticated %}
		      {{ user.username }}
		      {% else %}
		      {% trans "My RMAP" %}
	              {% endif %}
                      <span class="caret"></span>
		    </a>
                    <ul class="dropdown-menu">
		      {% if user.is_authenticated %}
		      <li><a href="http://{{site.domain}}/accounts/profile">{% trans "Your personal page" %} {{ user.username }}</a></li>
		      <li><a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a></li>
		      <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
		      {% else %}
		      <li><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></li>
	              {% endif %}
		    </ul>
		  </li>
		</ul>
              </div>
            </div>
	  </nav>
	
	  <hr />
	
	
	  {% cookielaw_banner %}
	
	
	  {% endblock %}
	</div>
      </div>
    </div>

    
    <div id="maincontent" class="container">
      {% block content %}{% endblock %}
    </div>

    
    {% block footer %}
    <script type="text/javascript" src="{% static "rmap/libs/rmap/js/form_handler.js" %}"></script> 
    {% endblock %}
  </body>
</html>
