{% load status_manager %}
{% load i18n %}

  
<h2>{% trans 'Station name' %}: {{ station.name }}     {% trans 'Data level:' %} {{ station.mqttrootpath }}</h2>

<table>
<tr>
<th> {% trans 'Active' %}         </th>
<th> {% trans 'User' %}          </th>
<th> {% trans 'Lat' %}            </th>
<th> {% trans 'Lon' %}            </th>
<th> {% trans 'Category' %}       </th>
<th> {% trans 'View updated details' %}</th>
</tr>

<tr>
  <td> 
    {% if station.active %}
      {% trans 'Active' %}
    {% else %}
      {% trans 'Disactive' %}
    {% endif %}
  </td>
<td> {{ station.user }}    </td>
<td> {{ station.lat }}     </td>
<td> {{ station.lon }}     </td>
<td> {{ station.category }}</td>
<td> <a href="{{url}}/stationstatus/{{station.user}}/{{station.slug}}/">{{ station.slug }}</a></td>
</tr>
</table>

<h4>{% trans 'Station status' %}: {{ station.stationmaintstatus.laststatus |default:_('Missing')}} //  {% trans 'Last status update' %}: {{ station.stationmaintstatus.lastupdate|default:_('Missing')}}</h4>
<h4>{% trans 'Station firmware version' %}: {{ station.stationmaintstatus.firmwaremajor |default_if_none:_('Missing')}}.{{ station.stationmaintstatus.firmwareminor|default_if_none:_('Missing')}}</h4>


<table border="1">
  <tr>
    <th>{% trans 'Cyan if changed' %}</th>
    <th{% if changed_laststatus  %} style="background-color:Cyan;"{% endif %}>{% trans 'Last status' %}</th>
  </tr>
  
  <tr>
    <th>{% trans 'Red if alert' %}</th>      
    <td{% if station.stationmaintstatus.laststatus != "conn"  %} style="background-color:Tomato;"{% endif %}> {{ station.stationmaintstatus.laststatus |default:_('Missing')}}</td>
  </tr>
    
  <tr>
    <th>{% trans 'Description' %}</th>
    <td>{% if changed_laststatus  %}{% trans 'Last station status Error' %}{% endif %}</td> 
  </tr>
</table>

{% if board %}
    
    <table border="1">
    <tr>
      <th>{% trans 'Board name' %}</th>
      <th>{% trans 'Firmware version' %}</th>
      <th>{% trans 'Last firmware update' %}</th>
      <th>{% trans 'Last status update' %}</th>
    </tr>
    <tr>
      <td>{{ board.name }}</td>
      <td>{{ board.boardfirmwaremetadata.swversion|default:_('Missing')}}</td>
      <td>{{ board.boardfirmwaremetadata.swlastupdate|default:_('Missing')}}</td>
      <td>{{ board.boardmaintstatus.lastupdate|date:"Y/m/d" }} {{ board.boardmaintstatus.lastupdate|time:"H:i:s" }}</td>
    </tr>
    </table>

    <table border="1">
    <tr>

      <th>{% trans 'Cyan if changed' %}</th>
      <th{% if changed_statusb.0  %} style="background-color:Cyan;"{% endif %}>{% trans 'B1' %}</th>
      <th{% if changed_statusb.1  %} style="background-color:Cyan;"{% endif %}>{% trans 'B2' %}</th>
      <th{% if changed_statusb.2  %} style="background-color:Cyan;"{% endif %}>{% trans 'B3' %}</th>
      <th{% if changed_statusb.3  %} style="background-color:Cyan;"{% endif %}>{% trans 'B4' %}</th>
      <th{% if changed_statusb.4  %} style="background-color:Cyan;"{% endif %}>{% trans 'B5' %}</th>
      <th{% if changed_statusb.5  %} style="background-color:Cyan;"{% endif %}>{% trans 'B6' %}</th>
      <th{% if changed_statusb.6  %} style="background-color:Cyan;"{% endif %}>{% trans 'B7' %}</th>
      <th{% if changed_statusb.7  %} style="background-color:Cyan;"{% endif %}>{% trans 'B8' %}</th>
      <th{% if changed_statusb.8  %} style="background-color:Cyan;"{% endif %}>{% trans 'B9' %}</th>
      <th{% if changed_statusb.9  %} style="background-color:Cyan;"{% endif %}>{% trans 'B10' %}</th>
      <th{% if changed_statusb.10 %} style="background-color:Cyan;"{% endif %}>{% trans 'B11' %}</th>
      <th{% if changed_statusb.11 %} style="background-color:Cyan;"{% endif %}>{% trans 'B12' %}</th>
      <th{% if changed_statusb.12 %} style="background-color:Cyan;"{% endif %}>{% trans 'B13' %}</th>
      <th{% if changed_statusb.13 %} style="background-color:Cyan;"{% endif %}>{% trans 'B14' %}</th>
      <th{% if changed_statusb.14 %} style="background-color:Cyan;"{% endif %}>{% trans 'B15' %}</th>
      <th{% if changed_statusb.15 %} style="background-color:Cyan;"{% endif %}>{% trans 'B16' %}</th>

      <th{% if changed_statusv.0 > 0  %} style="background-color:Cyan;"{% endif %}>{% trans 'V1' %}</th>
      <th{% if changed_statusv.1 > 0  %} style="background-color:Cyan;"{% endif %}>{% trans 'V2' %}</th>
      <th{% if changed_statusv.2 > 0  %} style="background-color:Cyan;"{% endif %}>{% trans 'V3' %}</th>
      <th{% if changed_statusv.3 > 0  %} style="background-color:Cyan;"{% endif %}>{% trans 'V4' %}</th>
      <th{% if changed_statusv.4 > 0  %} style="background-color:Cyan;"{% endif %}>{% trans 'V5' %}</th>

    </tr>
  
    <tr>
      <th>{% trans 'Red if alert' %}</th>
      
      <td{% if board.boardmaintstatus.statusb1  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb1 }}</td>
      <td{% if board.boardmaintstatus.statusb2  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb2 }}</td>
      <td{% if board.boardmaintstatus.statusb3  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb3 }}</td>
      <td{% if board.boardmaintstatus.statusb4  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb4 }}</td>
      <td{% if board.boardmaintstatus.statusb5  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb5 }}</td>
      <td{% if board.boardmaintstatus.statusb6  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb6 }}</td>
      <td{% if board.boardmaintstatus.statusb7  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb7 }}</td>
      <td{% if board.boardmaintstatus.statusb8  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb8 }}</td>
      <td{% if board.boardmaintstatus.statusb9  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb9 }}</td>
      <td{% if board.boardmaintstatus.statusb10 %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb10}}</td>
      <td{% if board.boardmaintstatus.statusb11 %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb11}}</td>
      <td{% if board.boardmaintstatus.statusb12 %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb12}}</td>
      <td{% if board.boardmaintstatus.statusb13 %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb13}}</td>
      <td{% if board.boardmaintstatus.statusb14 %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb14}}</td>
      <td{% if board.boardmaintstatus.statusb15 %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb15}}</td>
      <td{% if board.boardmaintstatus.statusb16 %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusb16}}</td>
      
      <td{% if board.boardmaintstatus.statusv1 > 0  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusv1|default_if_none:'-'}}</td>
      <td{% if board.boardmaintstatus.statusv2 > 0  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusv2|default_if_none:'-'}}</td>
      <td{% if board.boardmaintstatus.statusv3 > 0  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusv3|default_if_none:'-'}}</td>
      <td{% if board.boardmaintstatus.statusv4 > 0  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusv4|default_if_none:'-'}}</td>
      <td{% if board.boardmaintstatus.statusv5 > 0  %} style="background-color:Tomato;"{% endif %}> {{ board.boardmaintstatus.statusv5|default_if_none:'-'}}</td>
      
    </tr>
    
    <tr>
      <th>{% trans 'Description' %}</th>

      <td>{% if changed_statusb.0 or board.boardmaintstatus.statusb1 %} {{board.boardmaintstatus.statusb_explain.0}}{% endif %}</td> 
      <td>{% if changed_statusb.1 or board.boardmaintstatus.statusb2 %} {{board.boardmaintstatus.statusb_explain.1}}{% endif %}</td> 
      <td>{% if changed_statusb.2 or board.boardmaintstatus.statusb3 %} {{board.boardmaintstatus.statusb_explain.2}}{% endif %}</td> 
      <td>{% if changed_statusb.3 or board.boardmaintstatus.statusb4 %} {{board.boardmaintstatus.statusb_explain.3}}{% endif %}</td> 
      <td>{% if changed_statusb.4 or board.boardmaintstatus.statusb5 %} {{board.boardmaintstatus.statusb_explain.4}}{% endif %}</td> 
      <td>{% if changed_statusb.5 or board.boardmaintstatus.statusb6 %} {{board.boardmaintstatus.statusb_explain.5}}{% endif %}</td> 
      <td>{% if changed_statusb.6 or board.boardmaintstatus.statusb7 %} {{board.boardmaintstatus.statusb_explain.6}}{% endif %}</td> 
      <td>{% if changed_statusb.7 or board.boardmaintstatus.statusb8 %} {{board.boardmaintstatus.statusb_explain.7}}{% endif %}</td> 
      <td>{% if changed_statusb.8 or board.boardmaintstatus.statusb9 %} {{board.boardmaintstatus.statusb_explain.8}}{% endif %}</td> 
      <td>{% if changed_statusb.9 or board.boardmaintstatus.statusb10 %} {{board.boardmaintstatus.statusb_explain.9}}{% endif %}</td>	  
      <td>{% if changed_statusb.10 or board.boardmaintstatus.statusb11 %} {{board.boardmaintstatus.statusb_explain.10}}{% endif %}</td>
      <td>{% if changed_statusb.11 or board.boardmaintstatus.statusb12 %} {{board.boardmaintstatus.statusb_explain.11}}{% endif %}</td>
      <td>{% if changed_statusb.12 or board.boardmaintstatus.statusb13 %} {{board.boardmaintstatus.statusb_explain.12}}{% endif %}</td>
      <td>{% if changed_statusb.13 or board.boardmaintstatus.statusb14 %} {{board.boardmaintstatus.statusb_explain.13}}{% endif %}</td>
      <td>{% if changed_statusb.14 or board.boardmaintstatus.statusb15 %} {{board.boardmaintstatus.statusb_explain.14}}{% endif %}</td>
      <td>{% if changed_statusb.15 or board.boardmaintstatus.statusb16 %} {{board.boardmaintstatus.statusb_explain.15}}{% endif %}</td>

	  
      <td>{% if changed_statusv.0 > 0 or board.boardmaintstatus.statusv1 > 0 %} {{board.boardmaintstatus.statusv_explain.0}}{% endif %}</td>
      <td>{% if changed_statusv.1 > 0 or board.boardmaintstatus.statusv2 > 0  %} {{board.boardmaintstatus.statusv_explain.1}}{% endif %}</td>
      <td>{% if changed_statusv.2 > 0 or board.boardmaintstatus.statusv3 > 0  %} {{board.boardmaintstatus.statusv_explain.2}}{% endif %}</td>
      <td>{% if changed_statusv.3 > 0 or board.boardmaintstatus.statusv4 > 0  %} {{board.boardmaintstatus.statusv_explain.3}}{% endif %}</td>
      <td>{% if changed_statusv.4 > 0 or board.boardmaintstatus.statusv5 > 0  %} {{board.boardmaintstatus.statusv_explain.4}}{% endif %}</td>
      
    </tr>
    </table>
{% endif %}
