{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    
    <section id="main_content">
<div class="container">
<div class="row">
<div class="col-md-12"><h2>Rete di Monitoraggio Ambientale Partecipativo</h2></div>

<div class="col-md-10"><h3>Obiettivi R-map</h3></div>
<div class="col-md-10">
<ul class="fa-ul">

<li><i class="fa fa-database "></i> Raccogliere e distribuire dati ambientali rilevati dai cittadini</li>

<li><i class="fa fa-share-alt "></i> Rendere disponibili questi dati ai servizi
meteorologici, alle agenzie di prevenzione ambientale, alla
protezione civile e agli enti di ricerca</li>

<li><i class="fa fa-dashboard "></i> Fornire strumenti ai fornitori di dati per testare e migliorare la
qualità dei dati</li>

<li><i class="fa fa-graduation-cap "></i> Divulgare temi scientifici e sensibilizzare i cittadini sui temi ambientali</li>

<li><i class="fa fa-university "></i> Coinvolgere scuole e università a scopi formativi</li>

<li><i class="fa fa-refresh "></i> Creare un circolo virtuoso tra enti di formazione, pubbliche
amministrazioni, aziende private e cittadini</li>

</ul>
</div>
<div class="col-md-2"><img src="{% static "rmap/logo_rmap.svg" %}" class="image img-responsive"></div>
</div>
      </section>

{% endblock %}

