{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
<section id="main_content">

 <h3 id="striped-rows">{{ ident}} {% trans 'Here your personal data' %}</h3>
  <div class="bs-callout">
   <h4>{% trans "Your images" %}</h4>
   <a href= {% url 'geoimage-ident' ident %}><i class="fa fa-picture-o"></i> {% trans "Your images" %}</a>
  </div>
  <div class="bs-callout">
  <h4>{% trans "Your stations" %}</h4>
  <h4><a href="{% url 'stationsonmap' ident %}"><i class="fa fa-map-marker "></i> {% trans 'View on the map' %}</a></h4>

  <div class="table-responsive">
    <table class="table">
      <thead  class="thead-default">
      <tr>
	<th>Short name</th>
	<th>Active</th>
	<th>Ident</th>
	<th>Lat</th>
	<th>Lon</th>
	<th>Category</th>
      </tr>
      </thead>
      {% for station in  stations %}
        <tr>
	  <td><a href=/accounts/profile/{{ station.slug }}>{% trans 'Station name' %}: {{ station.name }}</a></td>
	  <td> 
	  {% if station.active %}
		<i class="fa fa-check "></i>
	  {% else %}
		<i class="fa fa-times "></i>
	  {% endif %}
	  </td>
	  <td> {{ station.ident }} </td>
	  <td> {{ station.lat }} </td>
	  <td> {{ station.lon }} </td>
	  <td> {{ station.category }} </td>
	</tr>
      {% empty %}
        <li>{% trans 'No station yet.' %}</li>
      {% endfor %}
    </table>
  </div>
  </div>
</section>

{% endblock %}

