{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
<section id="main_content">

 <h3 id="striped-rows">{{user}} {% trans 'Here your personal data' %}</h3>
  <div class="bs-callout">
   <h4>{% trans "Your images" %}</h4>
   <a href= {% url 'geoimages-on-map-by-ident' user %}><i class="fa fa-picture-o"></i> {% trans "Your images" %}</a>
  </div>

  <div class="bs-callout">
    <h4>
      {% trans "Your tickets" %}: 
      <a href= {% url 'tickets-assigned' user %}> {% trans "Assigned" %}</a>  
      <a href= {% url 'tickets-subscribed' user %}> {% trans "Subscribed" %}</a>
   </h4>

    <h4>
      <a href= {% url 'rpcs-list' user %}> {% trans "Remote Procedure Call" %}</a>  
   </h4>    
  </div>

  
  <div class="bs-callout">
  <h4>{% trans "Your stations" %}</h4>
  <h4><a href="{% url 'stationsonmap' user %}"><i class="fa fa-map-marker "></i> {% trans 'View on the map' %}</a></h4>

  <div class="table-responsive">
    <table class="table">
      <thead  class="thead-default">
      <tr>
	<th>Short name</th>
	<th>Active</th>
	<th>User</th>
	<th>Lat</th>
	<th>Lon</th>
	<th>Category</th>
      </tr>
      </thead>
      {% for station in  stations %}
        <tr>
	  <td><a href=/accounts/profile/{{ station.slug }}>{{ station.name }}</a></td>
	  <td> 
	  {% if station.active %}
		<i class="fa fa-check "></i>
	  {% else %}
		<i class="fa fa-times "></i>
	  {% endif %}
	  </td>
	  <td> {{ station.user }} </td>
	  <td> {{ station.lat }} </td>
	  <td> {{ station.lon }} </td>
	  <td> {{ station.category }} </td>
	</tr>
      {% empty %}
        <li>{% trans 'No station yet.' %}</li>
      {% endfor %}
    </table>
  </div>
  </div>
</section>

{% endblock %}

