{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
    <section id="main_content">

      <p><h3>{{ ident}} {% trans 'Here your personal data details' %}</h3></p>

<h2 id="striped-rows">{% trans 'Station name' %}: {{ mystation.name }}</h2>

<h3 id="striped-rows"><a href="/delstation/{{ mystation.ident }}/{{ mystation.slug }}">{% trans 'Remove station' %} {{ mystation.slug }}</a></h3>


<div class="table-responsive">
<table class="table">
<thead class="thead-default">
<tr>
<th> {% trans 'Active' %} </td>   </td>
<th> {% trans 'Ident' %} </td>    </td>
<th> {% trans 'Lat' %} </td>      </td>
<th> {% trans 'Lon' %} </td>      </td>
<th> {% trans 'Locate' %} </td>      </td>
<th> {% trans 'Category' %} </td> </td>
</tr>

<tr>
<td> 
{% if mystation.active %} 
<i class="fa fa-check"></i>
{% else %}
<i class="fa fa-times"></i>
{% endif %}
</td>
<td> {{ mystation.ident }}   </td>
<td> {{ mystation.lat }}     </td>
<td> {{ mystation.lon }}     </td>
<td><a href=../../../stationsonmap/{{ mystation.ident }}/{{ mystation.slug}}/><i class="fa fa-map-marker"></i></a></td>
<td> {{ mystation.category }}</td>
</tr>
</table>

<p>
<a href="{% url 'mystationmetadata-detail' mystation.ident.username  mystation.slug %}">{% trans 'Show station details' %}</a>
</p>

</section>

{% endblock %}

