{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if invalid  %}
<div class="alert alert-warning" role="alert">{% trans 'Invalid data; retry' %}</div>
{% endif %}

{% if error  %}
<div class="alert alert-danger" role="alert">{% trans 'Error on publish data; retry' %}</div>
{% endif %}
    
    <section id="main_content">

      <p><h3>{{user}} {% trans 'Here your station details' %}</h3></p>

<h2 id="striped-rows">{% trans 'Station name' %}: {{ mystation.name }}</h2>

<p><h3> <a href="{% url 'mystationmetadata-del' mystation.user mystation.slug %}">{% trans 'Delete' %} {{ mystation.slug }}</a></h3></p>
<p><h3> <a href="{% url 'insertdata-stationmodify' mystation.slug %}">{% trans 'Modify' %} {{ mystation.slug }}</a></h3></p>
<p><h3> <a href= {% url 'rpcs-list' mystation.user mystation.slug %}> {% trans "Monitor Remote Procedure Call" %}</a></h3></p>    
<p><h3> <a href= {% url 'rpc-submit' mystation.user mystation.slug %}> {% trans "Submit Remote Procedure Call (easy mode)" %}</a></h3></p>    
<p><h3> <a href= {% url 'rpc-submit-free' mystation.user mystation.slug %}> {% trans "Submit Remote Procedure Call" %}</a></h3></p>    

      <p><h3>{% trans 'Reserved information' %} ({% trans 'click over to open' %}):</h3></p>


<ul>
  {% for key, value in reserved.items %} 
    <details>
      <summary>
	<li>{% trans key %}</li>
      </summary>
      {{ value }}
    </details>
  {% endfor %}
</ul>

<div class="table-responsive">
<table class="table">
<thead class="thead-default">
<tr>
<th> {% trans 'Active' %} </td>   </td>
<th> {% trans 'User' %} </td>    </td>
<th> {% trans 'Lat' %} </td>      </td>
<th> {% trans 'Lon' %} </td>      </td>
<th> {% trans 'Locate' %} </td>      </td>
<th> {% trans 'Category' %} </td> </td>
</tr>

<tr>
<td> 
{% if mystation.active %} 
<i class="fa fa-check"></i>
{% else %}
<i class="fa fa-times"></i>
{% endif %}
</td>
<td> {{ mystation.user }}   </td>
<td> {{ mystation.lat }}     </td>
<td> {{ mystation.lon }}     </td>
<td><a href=../../../stationsonmap/{{ mystation.user }}/{{ mystation.slug}}/><i class="fa fa-map-marker"></i></a></td>
<td> {{ mystation.category }}</td>
</tr>
</table>

<p>
<a href="{% url 'mystationmetadata-detail' mystation.user.username  mystation.slug %}">{% trans 'Show station details' %}</a>
</p>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th> {% trans 'Comment' %}          </th>
      <th> {% trans 'Date' %}            </th>
      <th> {% trans 'Category' %}       </th>
      <th> {% trans 'Image' %}</th>
      <th> {% trans 'Operation' %}</th>
    </tr>
    
    {% for stationimage in  mystation.stationimage_set.all %}
    {% if mystation.active %} 
    <tr>
      <td>{{ stationimage.comment }}</td>
      <td>{{ stationimage.date }}</td>
      <td>{{ stationimage.category }}</td>
      <td>
	<a href="#" onclick="window.open('/accounts/profile/{{ mystation.slug}}/{{stationimage.id}}','stationimage', 'width=800, height=620').focus(); return false;">
	  <img src="/{{ stationimage.image_thumbnail.url }}" />
	</a>
      </td>
      <td>
	<form action="" method="POST">{% csrf_token %}
	  <input type="hidden" value="{{ stationimage.id }}" name="stationimageid">
	  <input type="hidden" value="{{ mystation.slug }}" name="stationslug">
	  <input type="submit" value={%trans "Delete" %} class="btn">
	</form>
      </td>      
    </tr>
    {% endif %}
    
    {% empty %}
    <li>{% trans 'No image yet.' %}</li>
    {% endfor %}
  </table>

  <h3 id="striped-rows">{% trans 'upload your station image' %}</h3>

  <div class="table-responsive">
    <form enctype="multipart/form-data" method="POST">{% csrf_token %}
      
      {{ form.as_p }}
      
      <input type="submit" value={%trans "Submit" %} class="btn">
    </form>
  </div>
  
</div>
    
</section>

{% endblock %}

