{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
    <section id="main_content">
     <div class="table-responsive">
      <h2 id="striped-rows">Configuration Wizard second step: WiFi network</h2>
      <h3 id="striped-rows">Leave the fields blank if you do not want to change network configurations</h3>
	<form action="/wizard2/" method="post" class="form-inline" role="form">
	  {% csrf_token %}
	  {{ form }}
	  <input type="submit" value="Submit" class="btn"/>
	</form>
      </div>
    </section>
       </div>
{% endblock %}

