__pycache__
*.pyc
*\#
.buildozer
buildozer
static
bin
cache
django.mo
rmap.sqlite3
rmap/rmap.ini
saveddata-service.pickle
*~
build
dist
rmap.egg-info
rmap.ini
AndroidManifest.xml
logrpc.txt
media
rpc.log
