__pycache__
*.pyc
*.log
*\#
*~
*.mo
*.log
/static
/bin
/cache
/rmap.sqlite3
/rmap/rmap.ini
/saveddata-service.pickle
/build
/cache
/dist
/rmap.egg-info
/rmap.ini
/AndroidManifest.xml
/logrpc.txt
/media
/ltmain.sh