include COPYING
include NEWS
include README
include TODO
include *.txt
include rmap.spec
include map
include main.py
global-include  *.txt *.py *.sh *.in *.cfg *.json *.conf
recursive-include doc *
recursive-include locale *
recursive-include templates *
recursive-include static *
recursive-include debian *
prune obsolete
prune .buildozer
