include COPYING
include NEWS
include README
include README.rst
include TODO
include *.txt
include rmap.spec
include map
include main.py
global-include  *.txt *.py *.sh *.in *.cfg *.json *.conf
recursive-include doc *
recursive-include locale *
recursive-include global_static *
recursive-include debian *

recursive-include amatyr/static *
recursive-include amatyr/templates *

recursive-include borinud/static *
recursive-include borinud/templates *

recursive-include geoimage/static *
recursive-include geoimage/templates *

recursive-include graphite-dballe/static *
recursive-include graphite-dballe/templates *

recursive-include http2mqtt/static *
recursive-include http2mqtt/templates *

recursive-include insertdata/static *
recursive-include insertdata/templates *

recursive-include registration/static *
recursive-include registration/templates *
recursive-include registration/tests *
recursive-include registration/locale *

recursive-include rmap/static *
recursive-include rmap/templates *

recursive-include showdata/static *
recursive-include showdata/templates *

prune static
prune obsolete
prune .buildozer
