[

%%   {rabbitmq_management,
%%     [
%%   	{listener, [{port,     15671},
%%        	   {ssl,      true},
%%                     {ssl_opts,
%%		       [
%%                           {cacertfile,    "/etc/arpaecert/arpae_it.pem"},
%%                           {certfile,      "/etc/arpaecert/arpae_it.pem"},
%%                           {keyfile,       "/etc/arpaecert/arpae_it.pem"},
%%
%%
%%                           %% don't do peer verification to HTTPS clients
%%                           {verify,               verify_none},
%%                           {fail_if_no_peer_cert, false},
%%
%%                           {client_renegotiation, false},
%%                           {secure_renegotiate,   true},
%%                           {honor_ecc_order,      true},
%%                           {honor_cipher_order,   true}
%%
%%
%%                       ]
%%                     }
%%		   ]
%%	}
%%     ]
%%   },

   {rabbit,

     [
       {ssl_listeners, [5671]},

       {ssl_options, [
                           {cacertfile,    "/etc/arpaecert/arpae_it-rabbitmq.pem"},
                           {certfile,      "/etc/arpaecert/arpae_it-rabbitmq.pem"},
                           {keyfile,       "/etc/arpaecert/arpae_it-rabbitmq.pem"},
                           {verify,               verify_none},
                           {fail_if_no_peer_cert, false}
			   ]},
       {auth_backends, [rabbit_auth_backend_internal, rabbit_auth_backend_http]},
       {loopback_users, []}

     ]
   }
].
