avr_boot/*.o
avr_boot/*.eps
avr_boot/*.bak
avr_boot/*.a
avr_boot/*.bin
avr_boot/*.lst
avr_boot/*.map 
avr_boot/*.elf
avr_boot/uart/*.o
avr_boot/pff/src/*.o
optiboot/*.o
optiboot/*.eps
optiboot/*.bak
optiboot/*.a
optiboot/*.bin
optiboot/*.lst
optiboot/*.map
optiboot/*.elf
optiboot/pff/src/*.o
FIRMWARE.BIN
