{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extra_assets %}

<style>
  body{margin-top: 50px;}
  h1 {margin: 50px auto 30px;}
  .side-by-side{display: inline-block;vertical-align: middle;position: relative; text-align: center;}
  .humidity-icon{background-color: #349800;width: 30px;height: 30px;border-radius: 50%;line-height: 36px;}
  .humidity-text{font-weight: 600;padding-left: 15px;font-size: 19px;width: 160px;text-align: left;}
  .humidity{font-weight: 300;font-size: 60px;color: #ff98db;}
  .temperature-icon{background-color: #f39c12;width: 30px;height: 30px;border-radius: 50%;line-height: 40px;}
  .temperature-text{font-weight: 600;padding-left: 15px;font-size: 19px;width: 300px;text-align: left;}
  .temperature{font-weight: 300;font-size: 60px;color: #f39c12;}
  .superscript{font-size: 17px;font-weight: 600;position: relative;right: -20px;top: -10px;}
  .data{padding: 10px;}
</style>

<script src= {% static "rmap/libs/jquery/2.1.1/jquery.min.js" %}></script>
<script type="text/javascript" src="{% static "showdata/borinud.B.js" %}" ></script>

<script>

  function hideNodata() {
      $("#data").hide(); //nascondo i dati
      loadData();
  }
  
  function loadData() {
      $.getJSON('http://{{ object.slug }}.local/data.json', function(json){
          //do nothing here
      })
          .done(function(json){
	      var alldata = "";
              $.each(json, function(key,val){
                  console.log( "json: " + key, val );
		  try{
		      var b = borinud.config.B[key];
		      var description ="<div class=\"side-by-side temperature-text\">"
		      description += b.description + " "
		      description += "</div>";
		      description +="<div class=\"side-by-side temperature\">";
		      description +=val;
		      description += "</div>";
		      description +="<div class=\"side-by-side temperature-text\">"
		      description +=" (" + b.unit + ")";
		      description += "</div>";
		  }
		  catch{
		      var description = val;
		  }
		  $('#'+key).text(description);
		  alldata+="<div class=\"data\">";
		  alldata+=description;
		  alldata+="</div>";
              });

	      $("#alldata").html(alldata);

	      $("#nodata").hide(); //nascondo il warning
              $("#data").show(); //mostro i dati
          })
          .fail(function( jqxhr, textStatus, error ) {
              //var err = textStatus + ", " + error;
              //console.log( "Request Failed: " + err, jqxhr );
              $("#nodata").show(); //mostro il warning
              $("#data").hide(); //nascondo i dati
          });
  };
  window.onload = hideNodata;
  setInterval(loadData,10000);      
</script>

{% endblock %}

{% block content %}

<section id="main_content">

  <h2>{% trans 'Station name' %}: {{ object.name }}</h2>
  <h2>{% trans 'Comunication status with server' %}: <span id='STAT'></span></h2>

  <div class="table-responsive">
    <table class="table">
      <tr>
	<th> {% trans 'Active' %}         </th>
	<th> {% trans 'Ident' %}          </th>
	<th> {% trans 'Lat' %}            </th>
	<th> {% trans 'Lon' %}            </th>
	<th> {% trans 'Category' %}       </th>
	<th> {% trans 'View on the map' %}</th>
      </tr>
      <td> 
	{% if object.active %}
	<i class="fa fa-check "></i>
	{% else %}
	<i class="fa fa-times "></i>
	{% endif %}
      </td>
      <td> {{ object.ident }}   </td>
      <td> {{ object.lat }}     </td>
      <td> {{ object.lon }}     </td>
      <td> {{ object.category }}</td>
      <td> <a href="{% url 'stationsonmap' object.ident object.slug %}">{{ object.slug }}</a></td>
    </table>
  </div>


  <div class="container-fluid">
    <div class="inner cover">
      <h1 id="striped-rows">{% trans 'Last local station data' %}</h1>
      
      <div id="nodata">
	<h1>No local comunication with station</h1>
      </div>
      
      <div id="data">

	  <span id='alldata'>None</span>

      </div>
    </div>
    
  </div>
</section>

{% endblock %}
