{% extends "base.html" %}
{% load i18n %}

{% block content %}
 
  <section id="main_content">

    <h2 id="striped-rows">{% trans 'Stations' %}</h2>

    <h3 id="striped-rows"><a href="{% if user %} {% url 'stationsonmap' user %} {% else %} {% url 'stationsonmap' %} {% endif %}"><i class="fa fa-map-marker"></i> {% trans 'View on the map' %}</a></h3>

    <div class="table-responsive">

      <form action="{% url 'stationmetadata-list' %}" method="get">
	<input name="search" type="text" placeholder="Search...">
      </form>

      <table class="table">
	<thead  class="thead-default">
	<tr>
	  <th>Name</th>
	  <th>User</th>
	  <th>Lat</th>
	  <th>Lon</th>
	  <th>{% trans 'Station status' %}</th>
	  <th>{% trans 'Last status update' %}</th>
	  <th>{% trans 'Version' %}</th>
	  <th>Category</th>
	  <th><i class="fa fa-map"></i> {% trans 'View on the map' %}</th>
	</tr>
	</thead>
        {% for station in page_obj %}
	  {% if station.active  %}
	    <tr>
              <td> <a href="{% url 'mystationmetadata-detail' station.user.username station.slug %}">{{ station.name }}</a> </td>
	      <td> <a href="{% url 'mystationmetadata_list' station.user.username %}">{{ station.user}}</a></td>
	      <td> {{ station.lat}}</td>
	      <td> {{ station.lon}}</td>
	      <td> {{ station.stationmaintstatus.laststatus}}</td>
	      <td> {{ station.stationmaintstatus.lastupdate}}</td>
	      <td> {{ station.stationmaintstatus.firmwaremajor }}.{{ station.stationmaintstatus.firmwareminor }}</td>
	      <td> {{ station.category}}</td>
	      <td> <a href="{% url 'stationsonmap' station.user station.slug %}"><i class="fa fa-map-marker "></i> {{ station.name }}</a></td>
	    </tr>
	  {% endif %}
	{% empty %}
	    <li>{% trans 'No station yet.' %}</li>
        {% endfor %}
      </table>

      <div class="pagination">
	<span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
          {% endif %}

          {% if page_obj.number %}
            <span class="current">
              {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
            </span>
          {% endif %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last &raquo;' %}</a>
          {% endif %}
	</span>
      </div>
      
    </div>
  </section>

{% endblock %}
