{% extends "base.html" %}
{% load i18n %}

{% block content %}
 
  <section id="main_content">

    <h2 id="striped-rows">{% trans 'Stations' %}</h2>

    <h3 id="striped-rows"><a href="/stationsonmap"><i class="fa fa-map-marker"></i> {% trans 'View on the map' %}</a></h3>

    <div class="table-responsive">
      <table class="table">
	<thead  class="thead-default">
	<tr>
	  <th>Short name</th>
	  <th>Ident</th>
	  <th>Lat</th>
	  <th>Lon</th>
	  <th>Category</th>
	  <th><i class="fa fa-map"></i> {% trans 'View on the map' %}</th>
	</tr>
	</thead>
        {% for station in object_list %}
	  {% if station.active  %}
	    <tr>
              <td> <a href={% url 'stationmetadata-list' %}{{ station.ident.username}}/{{ station.slug}}>{{ station.name }}</a> </td>
	      <td> <a href={% url 'stationmetadata-list' %}{{ station.ident.username}}>{{ station.ident}}</a></td>
	      <td> {{ station.lat}}</td>
	      <td> {{ station.lon}}</td>
	      <td> {{ station.category}}</td>
	      <td> <a href="/stationsonmap/{{ station.ident }}/{{ station.slug }}"><i class="fa fa-map-marker "></i> {{ station.name }}</a></td>
	    </tr>
	  {% endif %}
	{% empty %}
	    <li>{% trans 'No station yet.' %}</li>
        {% endfor %}
      </table>
    </div>
  </section>

{% endblock %}
