{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extra_assets %}

<script src= {% static "rmap/libs/jquery-preload/jquery.preload.min.js" %}></script>

<style>
[class*="col-"] {
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}
</style>

{% endblock %}

{% block content %}

<section id="main_content">

<h2>{% trans 'Station name' %}: {{ object.name }}     {% trans 'Data level:' %} {{ object.mqttrootpath }}</h2>

<div class="table-responsive">
<table class="table">
<tr>
<th> {% trans 'Active' %}         </th>
<th> {% trans 'Ident' %}          </th>
<th> {% trans 'Lat' %}            </th>
<th> {% trans 'Lon' %}            </th>
<th> {% trans 'Category' %}       </th>
<th> {% trans 'View on the map' %}</th>
</tr>

<tr>
  <td> 
    {% if object.active %}
      <i class="fa fa-check "></i>
    {% else %}
      <i class="fa fa-times "></i>
    {% endif %}
  </td>
<td> {{ object.ident }}   </td>
<td> {{ object.lat }}     </td>
<td> {{ object.lon }}     </td>
<td> {{ object.category }}</td>
<td> <a href="/stationsonmap/{{ object.ident }}/{{ object.slug }}">{{ object.slug }}</a></td>
</tr>
</table>
</div>

<p><h3> <a href="/delstation/{{ object.ident }}/{{ object.slug }}">{% trans 'Delete' %} {{ object.slug }}</a></h3></p>

<h2 id="striped-rows">{% trans 'Display graph' %}</h2>

<div class="container-fluid">
  <div class="row">
    <div id="preloadimages">      

{% for board in object.board_set.all %}
  {% if board.active  %}
    <h3>{% trans 'Board name' %}: {{ board.name }}</h3>
    {% for sensor in board.sensor_set.all %}
      {% if sensor.active  %}
        {% if sensor.type.active and sensor.driver == 'I2C' %}
          {% for bcode in sensor.type.bcodes.all %}
<div class="col-md-6">

  <h4>{% trans 'Variable' %}: {{ sensor.name }}</h4>
  <h5>{{ sensor.describe_timerange }} ;  {{ sensor.describe_level }}</h5>
  <h5>{{ bcode.describe_uservar }}</h5>

  <img src = "/graphite/render/?target=offset(scale({{ object.mqttrootpath }}_{{ object.network }}.{{ object.ident }}.{{ object.lon_lat }}.*.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.{{bcode.bcode}},{{bcode.scale}}),{{bcode.offset}})&hideLegend=true&tz=UTC&width=400&height=250&from=-12hours">

  <p><a class="btn btn-default" href="/graphite/composer/?target=offset(scale({{ object.mqttrootpath }}_{{ object.network }}.{{ object.ident }}.{{ object.lon_lat }}.*.{{ sensor.underscored_timerange }}.{{ sensor.underscored_level}}.{{bcode.bcode}},{{bcode.scale}}),{{bcode.offset}})&from=-12hours" role="button">Graphite composer &raquo;</a></p>
</div>

          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
    </div>
  </div>
</div>
</section>
  <script>
    $('#preloadimages img').preload({
          placeholder:'{% static "rmap/loading.gif" %}',
          notFound:'{% static "rmap/access-error-logs.png" %}'
    });
  </script>

{% endblock %}
