{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load i18n %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block content %}

{% if ident %}
{%trans "Selected user" %}: {{ident}}       <a href="{% url 'stationsonmap' %}">{%trans "Reset ident filter" %}</a>
{% endif %}
{% if slug %}
++
{%trans "Selected slug" %}: {{slug}}        <a href="{% url 'stationsonmap' %}{{ident}}">{%trans "Reset slug filter" %}</a>
{% endif %}
    <script type="text/javascript">

      var collection = {{ stations|geojsonfeature:"popupContent"|safe }};
      var coords=[];

      function onEachFeature(feature, layer) {
         if (feature.properties && feature.properties.popupContent) {
           layer.bindPopup(feature.properties.popupContent);
         }
         if (feature.geometry && feature.geometry.coordinates) {
           coords.push( [ feature.geometry.coordinates[1],feature.geometry.coordinates[0] ]);
         }
      }

      function map_init(map, options) {
         L.geoJson(collection, {onEachFeature: onEachFeature}).addTo(map);
         map.fitBounds(coords);
      }

    </script>

    {% leaflet_map "spots" callback="window.map_init" %}


{% endblock %}
