{% extends "base.html" %}
{% load i18n %}

{% block content %}
 
  <section id="main_content">

    {% if slug %}
    <h4 id="striped-rows"><a  href="{% url 'rpcs-list' user %}">{% trans 'Remote Procedure Call of user: ' %}{{user}}</a></h4>
    <h4><a  href="{% url 'rpcs-list' %}">{% trans 'Remote Procedure Call for all users' %}</a></h4>
    <h2 id="striped-rows">{% trans 'Remote Procedure Call for user' %} {{user}} {% trans 'and station' %} {{slug}}</h2>
    {% elif user %}
    <h4><a  href="{% url 'rpcs-list' %}">{% trans 'Remote Procedure Call for all users' %}</a></h4>
    <h2 id="striped-rows">{% trans 'Remote Procedure Call for user' %} {{user}} </h2>
    {% else %}
    <h2 id="striped-rows">{% trans 'Remote Procedure Call' %}</h2>
    {% endif %}

    <form action="{% if user %}{% url 'rpcs-list' user %}{% else %}{% url 'rpcs-list' %}{% endif %}" method="get">
      <input name="search" type="text" {% if search %}value="{{search}}"{% endif %} placeholder="{% if search %}{{search}}{% else %}Search...{% endif %}">
	
      <input type="radio" id="submitted" name="status" value="submitted" {% if status == "submitted" %}checked{% endif %}>Submitted
      <input type="radio" id="running" name="status" value="running" {% if status == "running" %}checked{% endif %}>Running
      <input type="radio" id="completed" name="status" value="completed" {% if status == "completed" %}checked{% endif %}>Completed
      <input type="radio" id="all" name="status" value="all" {% if status == "all" or not status %}checked{% endif %}>All
      
      <input type="submit" value="{% trans 'Filter' %}">
      
    </form>

    <div class="table-responsive">
      <table class="table">
	<thead  class="thead-default">
	  <tr>
	    <th>{% trans 'RPC' %}</th>
	    <th>{% trans 'Active' %}</th>
	    <th>{% trans 'Status' %}</th>
	    <th>{% trans 'Station' %}</th>	  
	    <th>{% trans 'Created' %}</th>
	    <th>{% trans 'Method' %}</th>
	    <th>{% trans 'Error' %}</th>
	  </tr>
	</thead>
        {% for rpc in page_obj %}
	<tr>
	  <td> <a  href="{% url 'rpc-details'  rpc.stationmetadata.user rpc.stationmetadata.slug rpc.id  %}">{{ rpc.id}}</a></td>
	  <td>
	    {% if rpc.active %}
	    <i class="fa fa-check "></i>
	    {% else %}
	    <i class="fa fa-times "></i>
	    {% endif %}
	  </td>
	  <td> {{ rpc.status}}</td>
	  <td> <a  href="{% url 'rpcs-list' rpc.stationmetadata.user rpc.stationmetadata.slug %}">{{ rpc.stationmetadata}}</a></td>
	  <td> {{ rpc.date}}</td>
	  <td> {{ rpc.method}}</td>
	  <td> {% if rpc.error %}{{ rpc.error}}{% endif %}</td>
	</tr>
	{% empty %}
	<li>{% trans 'No rpcs.' %}</li>
        {% endfor %}
      </table>
      
      <div class="pagination">
	<span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
          {% endif %}

          {% if page_obj.number %}
            <span class="current">
              {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
            </span>
          {% endif %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last &raquo;' %}</a>
          {% endif %}
	</span>
      </div>
      
    </div>
  </section>

{% endblock %}
