{% extends "base.html" %}
{% load i18n %}

{% block content %}
 
  <section id="main_content">

    {% if user %}
    <h2 id="striped-rows"><a  href="{% url 'rpcs-list' user %}{% if search %}?search={{search}}{% endif %}">{{user}}</a> <a  href="{% url 'rpcs-list' %}{% if search %}?search={{search}}{% endif %}">{% trans 'rpcs' %}</a></h2>
    {% else %}
    <h2 id="striped-rows">{% trans 'Remote Procedure Call' %}</h2>
    {% endif %}

    <form action="{% if user %}{% url 'rpcs-list' user %}{% if search %}?search={{search}}{% endif %}{% else %}{% url 'rpcs-list' %}{% if search %}?search={{search}}{% endif %}{% endif %}" method="get">
      <input name="search" type="text" placeholder="Search...">
	
      <input type="radio" id="active" name="status" value="active">Active
      <input type="radio" id="completed" name="status" value="completed">Completed
      <input type="radio" id="all" name="status" value="all" checked >All
      
      <input type="submit" value="Submit">
      
    </form>

    <div class="table-responsive">
      <table class="table">
	<thead  class="thead-default">
	  <tr>
	    <th>{% trans 'RPC' %}</th>
	    <th>{% trans 'Active' %}</th>
	    <th>{% trans 'Station' %}</th>	  
	    <th>{% trans 'Created' %}</th>
	    <th>{% trans 'Method' %}</th>
	    <th>{% trans 'Error' %}</th>
	  </tr>
	</thead>
        {% for rpc in page_obj %}
	<tr>
	  <td> <a  href="{% url 'rpc-details'  rpc.stationmetadata.user rpc.stationmetadata.slug rpc.id  %}">{{ rpc.id}}</a></td>
	  <td>
	    {% if rpc.active %}
	    <i class="fa fa-check "></i>
	    {% else %}
	    <i class="fa fa-times "></i>
	    {% endif %}
	  </td>
	  <td> <a  href="{% url 'rpcs-list' rpc.stationmetadata.user rpc.stationmetadata.slug %}{% if search %}?search={{search}}{% endif %}">{{ rpc.stationmetadata}}</a></td>
	  <td> {{ rpc.date}}</td>
	  <td> {{ rpc.method}}</td>
	  <td> {% if rpc.error %}{{ rpc.error}}{% endif %}</td>
	</tr>
	{% empty %}
	<li>{% trans 'No rpcs.' %}</li>
        {% endfor %}
      </table>
      
      <div class="pagination">
	<span class="step-links">
          {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
          {% endif %}

          {% if page_obj.number %}
            <span class="current">
              {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}.
            </span>
          {% endif %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last &raquo;' %}</a>
          {% endif %}
	</span>
      </div>
      
    </div>
  </section>

{% endblock %}
