{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<section id="main_content">

  <h4>{% trans 'Remote Procedure Call ID' %}: {{ myrpc.id }} {% trans 'Active:' %} {% if rpc.active %}<i class="fa fa-check "></i>{% else %}<i class="fa fa-times "></i>{% endif %}</h4>
  <h4>{% trans 'Status:' %} {{ myrpc.status }}</h4>
  <h4>{% trans 'User:' %} <a href="{% url 'rpcs-list' myrpc.stationmetadata.user.username %}">{{ myrpc.stationmetadata.user.username }}</a></h4>
  <h4>{% trans 'Station:' %} <a href="{% url 'rpcs-list' myrpc.stationmetadata.user.username myrpc.stationmetadata.slug %}">{{ myrpc.stationmetadata.slug }}</a></h4>


  
  <div class="table-responsive">
    <table class="table">
      <tr>
	<th>{% trans 'Date' %}</th>
	<th>{% trans 'Phase' %}</th>
	<th>{% trans 'Method' %}</th>
	<th>{% trans 'Params' %}</th>
	<th>{% trans 'Result' %}</th>
	<th>{% trans 'Error' %}</th>
      </tr>

      <tr>
	<td>{{ myrpc.date }}</td>
	<td>{% trans 'Submitted' %}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
      </tr>

      <tr>
	<td>{{ myrpc.datecmd }}</td>
	<td>{% trans 'Command' %}</td>
	<td>{{ myrpc.method }}</td>
	<td>{{ myrpc.params_json }}</td>
	<td></td>
	<td></td>
      </tr>
      
      <tr>
	<td>{{ myrpc.dateres }}</td>
	<td>{% trans 'Response' %}</td>
	<td></td>
	<td></td>
	<td>{{ myrpc.result_json }}</td>
	<td>{{ myrpc.error_json }}</td>
      </tr>
  
    </table>
  </div>

  
</section>

{% endblock %}
