    * {
    margin: 0;
    padding: 0;
    }


    hr {clear:both}
    
    body {
    font: 300 15px/1.5 "Helvetica Neue", helvetica, arial, sans-serif;
    background: #333;
    margin: 15px;
    }
    
    .mainstyle {
    width: 800px;
    margin: 0 auto;
    background: #000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px #666;
    }
    
    section {
    clear: left;
    }
    
    h1 {
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 15px;
    text-align: center;
    }

    a.title {
    color: #fff;
    text-decoration: none;
    }

    a.title:hover {
    color: #ff8040;
    text-decoration: none;
    }

    h1, #main_content, #rmap_link {
    padding: 15px;
    }

    p {
    margin: 15px 0;
    }
    
    a {
    color: #4aacc8;
    text-decoration:none;
    font-weight:bold;
    }

    a:hover {
	text-decoration:underline;
    }

    .sf-with-ul {width:106px}
    .sf-menu {margin-bottom:0}
