#[Service]
#ExecStart= /usr/bin/node-red
#Restart=always
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=node-sample
#User=nodered
#Group=nodered
#Environment=NODE_ENV=production

#[Install]
#WantedBy=multi-user.target
